{% extends "body.html" %}

{% block content %}

<div class="container text-center">
  <div class="jumbotron">
    <h1>Blog</h1>
  </div>
</div>

<div class="container">
  <div class="col-md-12">

    <h1>SPy na Bootcampe Generácie 3.0</h1>
    <div class="row">
      <div class="col-3">
        <img class="featurette-image img-fluid mx-auto" src="{{ url_for('static', filename='img/microbit/25634091394_146be48282_z.jpg') }}" alt="BBC micro:bit image">
      </div>
      <div class="col">
        <p>'You ought to be ashamed of yourself for asking such a simple question,' added the Gryphon; and then they both sat silent and looked at poor Alice, who felt ready to sink into the earth. At last the Gryphon said to the Mock Turtle, 'Drive on, old fellow! Don't be all day about it!' and he went on in these words:
        'Yes, we went to school in the sea, though you mayn't believe it—'
        'I never said I didn't!' interrupted Alice.
        'You did,' said the Mock Turtle.</p>
        <div>
          <span class="badge badge-pill badge-secondary">Pridané 29. júna 2019</span>         
        </div>
      </div>
    </div>

    <hr>

    <h1>Hodina na ZŠ ESPRIT</h1>
    <div class="row">
      <div class="col-3">
        <img class="featurette-image img-fluid mx-auto" src="{{ url_for('static', filename='img/microbit/25634091394_146be48282_z.jpg') }}" alt="BBC micro:bit image">
      </div>
      <div class="col">
        <p>'You ought to be ashamed of yourself for asking such a simple question,' added the Gryphon; and then they both sat silent and looked at poor Alice, who felt ready to sink into the earth. At last the Gryphon said to the Mock Turtle, 'Drive on, old fellow! Don't be all day about it!' and he went on in these words:
        'Yes, we went to school in the sea, though you mayn't believe it—'
        'I never said I didn't!' interrupted Alice.
        'You did,' said the Mock Turtle.</p>
        <div>
          <span class="badge badge-pill badge-secondary">Pridané 29. júna 2019</span>         
        </div>
      </div>
    </div>

    <hr>
    
    <h1>PyDays Martin</h1>
    <div class="row">
      <div class="col-3">
        <img class="featurette-image img-fluid mx-auto" src="{{ url_for('static', filename='img/microbit/25634091394_146be48282_z.jpg') }}" alt="BBC micro:bit image">
      </div>
      <div class="col">
        <p>'You ought to be ashamed of yourself for asking such a simple question,' added the Gryphon; and then they both sat silent and looked at poor Alice, who felt ready to sink into the earth. At last the Gryphon said to the Mock Turtle, 'Drive on, old fellow! Don't be all day about it!' and he went on in these words:
        'Yes, we went to school in the sea, though you mayn't believe it—'
        'I never said I didn't!' interrupted Alice.
        'You did,' said the Mock Turtle.</p>
        <div>
          <span class="badge badge-pill badge-secondary">Pridané 29. júna 2019</span>         
        </div>
      </div>
    </div>

    <hr>

    <h1>PyCon 2018 - EduTrack</h1>
    <div class="row">
      <div class="col-3">
        <img class="featurette-image img-fluid mx-auto" src="{{ url_for('static', filename='img/microbit/25634091394_146be48282_z.jpg') }}" alt="BBC micro:bit image">
      </div>
      <div class="col">
        <p>'You ought to be ashamed of yourself for asking such a simple question,' added the Gryphon; and then they both sat silent and looked at poor Alice, who felt ready to sink into the earth. At last the Gryphon said to the Mock Turtle, 'Drive on, old fellow! Don't be all day about it!' and he went on in these words:
        'Yes, we went to school in the sea, though you mayn't believe it—'
        'I never said I didn't!' interrupted Alice.
        'You did,' said the Mock Turtle.</p>
        <div>
          <span class="badge badge-pill badge-secondary">Pridané 29. júna 2019</span>         
        </div>
      </div>
    </div>

    <hr>

    <h1>micro:bity v Banskej Bystrici</h1>
    <div class="row">
      <div class="col-3">
        <img class="featurette-image img-fluid mx-auto" src="{{ url_for('static', filename='img/microbit/25634091394_146be48282_z.jpg') }}" alt="BBC micro:bit image">
      </div>
      <div class="col">
        <p>'You ought to be ashamed of yourself for asking such a simple question,' added the Gryphon; and then they both sat silent and looked at poor Alice, who felt ready to sink into the earth. At last the Gryphon said to the Mock Turtle, 'Drive on, old fellow! Don't be all day about it!' and he went on in these words:
        'Yes, we went to school in the sea, though you mayn't believe it—'
        'I never said I didn't!' interrupted Alice.
        'You did,' said the Mock Turtle.</p>
        <div>
          <span class="badge badge-pill badge-secondary">Pridané 29. júna 2019</span>         
        </div>
      </div>
    </div>    

    <hr>

  </div>
</div>

<!-- /END THE FEATURETTES -->
{% endblock %}
