{% extends "body.html" %}

{% block content %}

<div class="container text-center">
  <div class="jumbotron">
    <h1>{{ _('Učíme s Hardvérom') }}</h1>
  </div>
</div>

<div class="container text-center">

  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/sQNQT-0ySMw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <h4>{{ _('Vytvor si klavír') }}</h4>
  </div>

</div>

<div class="container text-justify" style="padding-top:30px">

  <h2 class="featurette-heading">Misia projektu</h2>
  <p class="lead">{{ _('Misiou projektu je vniesť do výučby informatiky na základných a stredných školách praktické zadania, ktoré žiakom ukážu zaujímavé možnosti využitia informatiky a vďaka ktorým sa žiaci sami začnú zaujímať o rozvíjanie svojich informatických zručností.') }}</p>
  
</div>

<div class="container">

  <hr class="featurette-divider">

  <div class="container text-justify">

    <h2 class="featurette-heading">{{ _('Ciele projektu') }}</h2>
    <ul>  
      
      <li>
        {{ _('Vzbudiť záujem o informatiku a to aj u žiakov, ktorí budú neskôr študovať iný odbor ako IT. Cieľom nie je z každého žiaka spraviť informatika. Cieľom je ich naučiť základné koncepty informatiky, elektroniky a programovania a ich využiteľnosti v praxi. Základné znalosti programovania a automatizácie dnes často využívajú aj ekonómovia, architekti, projektanti, dátový analytici, vedci, či iné odbory a preto je potrebné aj žiakom s takýmto zameraním ukázať aplikovateľnosť technológií na problémy v každodennom živote.') }}
      </li>
      <li>
        {{ _('Podnecovať u žiakov rozvoj algoritmického a logického myslenia.') }}
      </li>
      <li>
        {{ _('Viesť žiakov k tvorivosti a  sebavzdelávaniu.') }}
      </li>
      <li>
        {{ _('Rozvíjať poznatky žiakov o informatických systémoch v súvislostiach za účelom lepšieho porozumenia spolupráce softvéru a hardvéru, ktoré je nevyhnutné pre zorientovanie sa v konceptoch ako je Smart City či IoT (Internet vecí).') }}
      </li>
      <li>
        {{ _('Projekty s hardvérom nemajú nahradiť súčasne preberané učivo, ale naopak, obohatiť ho a spraviť viac pútavým pre žiakov. Hardvéromér sa dá napríklad prepojiť aj s počítačovou grafikou.') }}
      </li>
      <li>
        {{ _('Podporiť experimentálnu a bádateľskú činnosť žiakov a rozvíjať schopnosti tímového riešenia problémov, a to aj formou medzipredmetových projektov.') }}
      </li>
    </ul>

  </div>

  <div class="container text-justify">

    <h2 class="featurette-heading">{{ _('Prečo je potrebné zvýšiť informatickú gramotnosť') }}</h2>
      
      <p>{{ _('V súčasnosti takmer všetky profesie prichádzajú do styku s informatickými systémami alebo s elektonickými zariadeniami. Na ich správne, bezpečné a efektívne využívanie je potrebné chápať základným informatickým princípom, ktoré by sa mali žiaci naučiť na hodinách informatiky. Vďaka tomu sa okrem iného naučia lepšie si strážiť osobné údaje, riešiť problémy typu “nefunguje mi WiFi” a v neposlednom rade sa naučia využiť programovanie na automatizáciu repetitívnej počítačovej práce.') }}</p>

      <p>{{ _('Napriek zvyšujúcej sa miere využívania technológií v spoločnosti sa táto potreba do hodín informatiky nepremietla. Nutnosť kvalitnejšieho rozvíjania informatickej gramotnosti a schopnosti riešenia problémov vyplýva aj z Národnej správy z testovania PISA 2012, podľa ktorej slovenskí žiaci dosahujú signifikantne nižší výkon v riešení problémov v porovnaní s priemerným výkonom žiakov krajín OECD. Podľa meraní PISA 2015 je priemerný výkon slovenských žiakov v tímovom riešení problémov taktiež významne nižší ako priemer krajín OECD.') }}</p>

  </div>

  <div class="container text-justify">

    <h2 class="featurette-heading">{{ _('Spôsob dosiahnutia cieľov projektu') }}</h2>
      
    <p>{{ _('Pomocou prepájania hardvéru a softvéru dokážeme vytvoriť veľmi zaujímavé projekty. Tie navyše majú často aj praktické využitie v reálnom svete - príkladom môže byť tvorba inteligentnej domácnosti, domáci zabezpečovací systém či automatizácia zalievania v záhradke. Pri ich tvorbe budú žiaci získavať nové vedomosti hravou formou a zároveň si ich budú utvrdzovať na praktických projektoch.') }}</p>

  </div>

</div>

<!-- /END THE FEATURETTES -->
{% endblock %}
