{% extends "body.html" %}

{% block content %}

<div class="container text-center">
  <div class="jumbotron">
    <h1>Hardvér ako edukačná pomôcka') }}</h1>
  </div>
</div>

<div class="container text-justify">

  <h2 class="featurette-heading">Prečo hardvér?') }}</h2>
  <p class="lead">Pretože žiakov zaujme. Okrem spontánnych výkrikov radosti (ako napr. "Jéj, ono to bliká!", "To je fakt husté!" či "To je mega! Ja som programátorom!") sa ale aj naučia mnohé technologické princípy, a tým si zlepšia digitálnu kompetenciu a schopnosť rozpoznať hrozby v technológiach.') }}</p>

</div>

<div class="container">

  <hr class="featurette-divider">

  <div class="container text-justify">

    <h2 class="featurette-heading">O hardvéri na školách') }}</h2>
      
      <p>Hardvérové platformy sa stávajú bežnou súčasťou vyučovania informatiky, a to pre ich schopnosť získať pozornosť žiaka a relatívne nízku cenu. Ich častou spoločnou vlastnosťou je modularita, a teda schopnosť pripájať a ovládať elektronické aktory, napr. motory a LED svetlá, a tiež snímať pomocou externých senzorov rôzne veličiny, ako napr. vlhkosť pôdy, teplota vzduchu, množstvo slnečné žiarenia. Práve takéto hardvérové komponenty sú základnými stavebnými blokmi bežnej spotrebnej elektroniky.') }}</p>

      <p>Rôznorodosť aktivít môže u žiakov zvýšiť motiváciu vzdelávať sa v oblasti informatiky, najmä ak sa zadania prispôsobia konkrétnej skupine žiakov, podľa ich záujmov a zamerania. Zároveň je práca s hardvérom tiež vhodnou pomôckou na dosahovanie vzdelávacích cieľov Štátneho vzdelávacieho programu, a to podnecovať u žiakov rozvoj algoritmického a logického myslenia a viesť ich k tvorivosti a  sebavzdelávaniu. Hardvérové platformy môžeme taktiež využiť pri medzipredmetových či tímových projektoch, s cieľom rozvíjať poznatky žiakov o informatických systémoch v súvislostiach za účelom lepšieho porozumenia spolupráce softvéru a hardvéru, ktoré je nevyhnutné pre zorientovanie sa v konceptoch ako je Smart City či IoT (Internet vecí).') }}</p>

  </div>

</div>
<!-- /END THE FEATURETTES -->
{% endblock %}
