{% extends "body.html" %}

{% block content %}

<div class="container text-center">
  <div class="jumbotron">
    <h1>{{ _('Hardvérové projekty') }}</h1>

    <p class="lead">{{ _('Najkrajším aspektom využívania hardvéru je možnosť prepájať ho s inými predmetmi a vytvárať medzipredmetové projekty, ktoré informatiku prepájajú s umením, matematikou, fyzikou, atď. Tu nájdete niekoľsko inšpirácií.') }}</p>
  </div>
</div>

<div class="container text-center">
    
  <iframe width="560" height="315" src="https://www.youtube.com/embed/QzWSRXqQBeQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  <h4>{{ _('Hra Pinball') }}</h4>

  <br>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/6a_rykLlN3k" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  <h4>{{ _('Vytvor si klavír') }}</h4>

  <br>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/DgJ-S0q0EMs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  <h4>{{ _('Hra na reakcie<') }}/h4>

  <br>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/Y32FhgOVZnM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  <h4>{{ _('Programovanie zvučky z Hviezdnych vojen') }}</h4>

  <br>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/igeUhVMqVRw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  <h4>{{ _('Domáci alarm') }}</h4>

</div>

<!-- /END THE FEATURETTES -->
{% endblock %}
