{% extends "body.html" %}
{% block content %}

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item">
            <img class="d-block w-100" src="/static/img/slider/bb-kid.jpg">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="/static/img/slider/fiit.jpg">
        </div>
        <div class="carousel-item active">
            <img class="d-block w-100" src="/static/img/slider/neopixel.jpg">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="/static/img/slider/fablab.jpg">
        </div>
    </div>
</div>

<div class="container text-justify" style="padding-top:30px">

    <p class="lead mt-2 mb-4">Ako žiakov zaujať na hodinách informatiky? A ako ich pri tom aj naučiť niečo užitočné, ako je
        digitálna gramotnosť? Ideálnou voľbou je programovateľná "hračka", ktorá okrem iného bliká, bzučí, reaguje na
        dotyk či ovláda motorčeky.</p>
</div>
<div class="container">


    <div class="row featurette">
        <div class="col-md-6 order-md-2 text-justify">
            <h2 class="featurette-heading">Čo je to micro:bit?</h2>
            <p class="lead">BBC micro:bit je programovateľný minipočítač, ktorý robí informatiku hrou. Obsahuje
                displej, tlačidlá, senzor pohybu, naklonenia, teploty a svetelnosti. Najlepšie na ňom je
                však možnosť pripájať ďalšie senzory a aktory - LED pásiky, reproduktory, motorčeky, čerpadlá, senzory
                pohybu, atď. Využiť sa tým pádom dá napr. v biológii (automatizovaný inkubátor), geografii
                (meteo stanica), chémii (meranie CO2) či dokonca na hodinách literatúry! Možnosti sú takmer
                nekonečné...</p>
        </div>
        <div class="col-md-6 order-md-1">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/gHa1Knk4V4Y" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen class="embed-responsive-item"></iframe>
            </div>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-6 text-justify">
            <h2 class="featurette-heading">Podpora učiteľov</h2>
            <p class="lead">Uvedomujeme si, že prvým krokom k zaujímavejším hodinám informatiky je správna podpora
                učiteľov. Preto pravidelne organizujeme <b>školenia</b> pre učiteľov informatiky, v rámci ktorých
                pracujeme so zariadeniami BBC micro:bit. Zároveň sme kedykoľvek k dispozícii na zodpovedanie akýchkoľvek
                otázok, a to aj na našom <a href="https://forum.python.sk/">fóre.</a></p>
        </div>
        <div class="col-md-6">
            <img class="featurette-image img-fluid mx-auto"
                 src="{{ url_for('static', filename='img/events/pycon-workshop-2018.jpg') }}" alt="BBC micro:bit image">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-6 order-md-2 text-justify">
            <h2 class="featurette-heading">Učebné materiály</h2>
            <p class="lead">Nakoľko jednou z najväčších prekážok pri využívaní hardvéru v školstve je malé množstvo
                materiálov lokalizovaných pre Slovensko, pracujeme na prekladoch a taktiež tvorbe vlastných materiálov,
                ktoré zverejňujeme pod otvorenými licenciami. Ich zoznam nájdete <a href="{{ url_for('materialy') }}">tu.</a>
            </p>

        </div>
        <div class="col-md-6 order-md-1">
            <img class="featurette-image img-fluid mx-auto"
                 src="{{ url_for('static', filename='img/microbit/workshop-robots.png') }}">
        </div>
    </div>
</div>
<!-- /END THE FEATURETTES -->
{% endblock %}