{% extends "body.html" %}

{% block content %}

<div class="container text-center">
  <div class="jumbotron">
    <h1>Archív Newslettrov</h1>
  </div>
</div>

<div class="container">
 
  <style type="text/css">
  <!--
  .display_archive {font-family: arial,verdana; font-size: 12px;}
  .campaign {line-height: 125%; margin: 5px;}
  //-->
  </style>
  <script language="javascript" src="//ucimeshardverom.us1.list-manage.com/generate-js/?u=cb766cfe53f2eba5b948f113c&fid=62914&show=100" type="text/javascript"></script>

</div>
<!-- /END THE FEATURETTES -->
{% endblock %}
