{% extends "body.html" %}

{% block content %}

<div class="container text-center">
  <div class="jumbotron">
    <h1>{{ _('Návody, metodické materiály a dokumentácia') }}</h1>
  </div>
</div>

<div class="container">

  <div class="album py-5">
    <div class="container">
      <div class="row">
        
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="{{ url_for('static', filename='img/materialy/ucebnica-microbit-micropython.png') }}" alt="Programujeme micro:bit v MicroPythone">
            <div class="card-body">
              <span class="badge badge-success">{{ _('Učebnica') }}</span>
              <p class="card-text"><b>{{ _('Programujeme micro:bit v MicroPythone [SK]') }}</b></p>
              <p class="card-text">{{ _('Materiál vysvetľuje základy práce s doskou micro:bit ako aj programovania v MicroPythone') }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a type="button" class="btn btn-sm btn-outline-secondary" href="http://dev.marekmansell.sk/ucebnica">{{ _('Otvoriť') }}</a>
                </div>
                <small class="text-muted">{{ _('Autor: Marek Mansell') }}</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="{{ url_for('static', filename='img/materialy/ucebnica-microbit-blockly.png') }}" alt="Programujeme micro:bit Blokmi">
            <div class="card-body">
              <span class="badge badge-success">{{ _('Učebnica') }}</span>
              <p class="card-text"><b>{{ _('Programujeme micro:bit Blokmi [SK]') }}</b></p>
              <p class="card-text">{{ _('Materiál vysvetľuje základy práce s doskou micro:bit a blokových programovacím prostredím MakeCode od Microsoftu') }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a type="button" class="btn btn-sm btn-outline-secondary">{{ _('Pripravujeme') }}</a>
                </div>
                <small class="text-muted">{{ _('Autor: Marek Mansell') }}</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="{{ url_for('static', filename='img/materialy/dokumentacia-microbit-micropython.png') }}" alt="MicroPython dokumentácia pre dosku micro:bit">
            <div class="card-body">
              <span class="badge badge-primary">{{ _('Dokumentácia') }}</span>
              <p class="card-text"><b>{{ _('MicroPython dokumentácia pre dosku micro:bit [SK]') }}</b></p>
              <p class="card-text">{{ _('Dokumentácia pre micro:bit verziu jazyka MicroPython') }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a type="button" class="btn btn-sm btn-outline-secondary" href="//docs.microbit.sk">{{ _('Otvoriť') }}</a>
                </div>
                <small class="text-muted">{{ _('Autor: Kolektív') }}</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="{{ url_for('static', filename='img/materialy/ucebnica-nodemcu-micropython.png') }}" alt="MicroPython, Python a NodeMCU">
            <div class="card-body">
              <span class="badge badge-success">{{ _('Učebnica') }}</span>
              <p class="card-text"><b>{{ _('MicroPython, Python a NodeMCU [SK]') }}</b></p>
              <p class="card-text">{{ _('Manuál vysvetľuje základy práce s doskou NodeMCU a jej programovania v jazyku Python') }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a type="button" class="btn btn-sm btn-outline-secondary">{{ _('Pripravujeme') }}</a>
                </div>
                <small class="text-muted">{{ _('Autor: Marek Mansell') }}</small>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
<!-- /END THE FEATURETTES -->
{% endblock %}
