{% extends "body.html" %}

{% block header %}

<meta property="og:url"                content="https://www.ucimeshardverom.sk/materialy/" />
<meta property="og:type"               content="website" />
<meta property="og:title"              content="Metodické materiály a návody" />
<meta property="og:description"        content="Materiály pre ZŠ a SŠ sú v súlade so štátnym vzdelávacím programom a boli navrhnuté tak, aby mohli byť využívané priamo na hodinách informatiky." />
<meta property="og:image"              content="http://ucimeshardverom.sk{{ url_for('static', filename='img/materialy/microbit-makecode-01-04.jpg') }}" />

{% endblock %}

{% block content %}

<div class="container text-center">
  <div class="jumbotron">
    <h1>{{ _('Metodické materiály a návody') }}</h1>
  </div>
</div>

<div class="container">

  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-microbit-makecode-tab" data-toggle="tab" href="#nav-microbit-makecode" role="tab" aria-controls="nav-microbit-makecode" aria-selected="true">BBC micro:bit & MakeCode</a>
      <a class="nav-item nav-link" id="nav-microbit-micropython-tab" data-toggle="tab" href="#nav-microbit-micropython" role="tab" aria-controls="nav-microbit-micropython" aria-selected="false">BBC micro:bit & MicroPython</a>
    </div>
  </nav>
  <div class="tab-content mt-3" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-microbit-makecode" role="tabpanel" aria-labelledby="nav-microbit-makecode-tab">

      <div class="card">
        <h5 class="card-header">Návod na použite BBC micro:bit & MakeCode</h5>
        <div class="card-body">
          <p class="card-text">Tieto metodické materiály sú určené pre učiteľov informatiky na základných (prípadne aj stredných) školách a sú <b>v súlade so štátnym vzdelávacím programom</b>. Cieľom je, aby všetci žiaci zažili zaujímavú výučbu s micro:bitmi a preto boli metodiky navrhnuté tak, aby mohli byť využívané <b>priamo na hodinách informatiky</b>.</p>
          <p class="card-text">Nasledujúce metodiky využívajú najmä <a href="http://www.edutronik.sk/#ponuka">túto sadu hardvéru pre školy🔗</a></p>
          <p class="card-text">Pre viac podrobností o tom, ako zakomponovať micro:bity a prostredie MakeCode do výučby sme pripravili <a href=""><b>Návod na použite metodík BBC micro:bit & MakeCode</b></a>.</p>
          
        </div>
      </div>

    <div class="alert alert-danger mt-3">
      <h4 class="alert-heading">Materiály priebežne vylepšujeme</h4>
      <p>Materiály nie len pridávame, ale aj <b>priebežne upravujeme.</b> Práve preto neodporúčame si metodiky stiahnúť jeden krát na začiatku roka, ale priebežne počas roka si vždy stiahnuť najnovšiu verziu danej metodiky, ktorú práve plánujete použiť.</p>
    </div>
      
      <div class="card mt-3">
        <h5 class="card-header">September</h5>
        <div class="card-body">

          <div class="row">

            <div class="col-md-4 mt-3">
              <div class="card mb-4 box-shadow h-100">
                <h5 class="card-header">Metodika 1</h5>
                <img class="card-img-top" src="{{ url_for('static', filename='img/materialy/microbit-makecode-01-01.png') }}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Zoznámenie sa s BBC micro:bit</h5>
                  <p class="card-text">Zoznámte sa sozariadením BBC micro:bit, s postupom tvorby a nahrávania kódu na zariadenie a so základnými príkazmi pre ovládanie displeju.</p>
                  <div class="text-center align-bottom">
                    <a href="{{ url_for('static', filename='downloads/metodiky/microbit-makecode-zoznamenie-sa-s-bbc-microbit.pdf') }}" class="btn btn-info">Otvoriť</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 mt-3">
              <div class="card mb-4 box-shadow h-100">
                <h5 class="card-header">Metodika 2</h5>
                <img class="card-img-top" src="{{ url_for('static', filename='img/materialy/microbit-makecode-01-02.png') }}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">BBC micro:bit v pohybe</h5>
                  <p class="card-text">Využijeme vbudovaný senzor pohybu a naklonenia v micro:bite.</p>
                  <div class="text-center">
                    <a href="{{ url_for('static', filename='downloads/metodiky/microbit-makecode-bbc-microbit-v-pohybe.pdf') }}" class="btn btn-info">Otvoriť</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 mt-3">
              <div class="card mb-4 box-shadow h-100">
                <h5 class="card-header">Metodika 3</h5>
                <img class="card-img-top" src="{{ url_for('static', filename='img/materialy/pocitadlo_ludi.jpg') }}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Počítadlo ľudí</h5>
                  <p class="card-text">Zostrojíme si užitočnú pomôcka na festivaloch, podujatiach a diskotékach. Pri tom sa naučíme, čo je to premenná ako s ňou pracovať.</p>
                  <div class="text-center">
                    <a href="{{ url_for('static', filename='downloads/metodiky/microbit-makecode-pocitadlo-ludi.pdf') }}" class="btn btn-info">Otvoriť</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 mt-3">
              <div class="card mb-4 box-shadow  h-100">
                <h5 class="card-header">Bonusová metodika</h5>
                <img class="card-img-top" src="{{ url_for('static', filename='img/materialy/microbit-makecode-01-04.jpg') }}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Poslušne hlásim</h5>
                  <p class="card-text">Matematická hra pre 3 až 4 žiakov s micro:bitmi</p>
                  <div class="text-center">
                    <a href="{{ url_for('static', filename='downloads/metodiky/microbit-makecode-poslusne-hlasim.pdf') }}" class="btn btn-info">Otvoriť</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 mt-3">
              <div class="card mb-4 box-shadow h-100">
                <h5 class="card-header">Bonusová metodika</h5>
                <img class="card-img-top" src="{{ url_for('static', filename='img/materialy/microbit-makecode-01-05.png') }}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Kameň, papier, nožnice</h5>
                  <p class="card-text">Triedny turnaj v hre Kameň, papier, nožnice</p>
                  <div class="text-center">
                    <a href="{{ url_for('static', filename='downloads/metodiky/microbit-makecode-kamen-paier-noznice.pdf') }}" class="btn btn-info">Otvoriť</a>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>

      <br><br>

      <div class="card">
        <h5 class="card-header">Október</h5>
        <div class="card-body">

          <div class="row">

            <div class="col-md-4 mt-3">
              <div class="card mb-4 box-shadow h-100">
                <h5 class="card-header">Metodika 4</h5>
                <img class="card-img-top" src="{{ url_for('static', filename='img/materialy/krokomer.jpg') }}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Krokomer</h5>
                  <p class="card-text">Krokomer sa dá na micro:bite spraviť pomocou vbudovaného senzoru pohybu. Ak pripevníme micro:bit na nohu, stačí merať, koľko krát zatrasemie a tým získame počet krokov.</p>
                  <div class="text-center">
                    <a href="{{ url_for('static', filename='downloads/metodiky/microbit-makecode-krokomer.pdf') }}" class="btn btn-info">Otvoriť</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 mt-3">
              <div class="card mb-4 box-shadow h-100">
                <h5 class="card-header">Metodika 5</h5>
                <img class="card-img-top" src="{{ url_for('static', filename='img/materialy/microbit-makecode-02-01.jpg') }}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Elektrické obvody a vodivosť materiálov</h5>
                  <p class="card-text">Úvod do pripájania hardvérových komponentov k micro:bitom</p>
                  <div class="text-center">
                    <a href="{{ url_for('static', filename='downloads/metodiky/microbit-makecode-elektricke-obvody-a-vodivost-materialov.pdf') }}" class="btn btn-info">Otvoriť</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 mt-3">
              <div class="card mb-4 box-shadow h-100">
                <h5 class="card-header">Metodika 6</h5>
                <img class="card-img-top" src="{{ url_for('static', filename='img/materialy/ako-funguju-led.jpg') }}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Ako fungujú LED diódy</h5>
                  <p class="card-text">Naučíme sa, ako zapojiť LED diódu, na ǚo slúži Rezistor a ako elektronicky spínať LED diódu.</p>
                  <div class="text-center">
                    <a href="{{ url_for('static', filename='downloads/metodiky/microbit-makecode-ako-funguju-led-diody.pdf') }}" class="btn btn-info">Otvoriť</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 mt-3">
              <div class="card mb-4 box-shadow h-100">
                <h5 class="card-header">Metodika 7</h5>
                <img class="card-img-top" src="{{ url_for('static', filename='img/materialy/semafor-z-led-diod.jpg') }}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Semafor z LED diód</h5>
                  <p class="card-text">Zostrojíme si funkčnú maketu svetelnej križovatky - semafor.</p>
                  <div class="text-center">
                    <a href="{{ url_for('static', filename='downloads/metodiky/microbit-makecode-semafor-z-led-diod.pdf') }}" class="btn btn-info">Otvoriť</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 mt-3">
              <div class="card mb-4 box-shadow h-100">
                <h5 class="card-header">Bonusová metodika</h5>
                <img class="card-img-top" src="{{ url_for('static', filename='img/materialy/hra-horuci-drot.jpg') }}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Hra Horúci drôt </h5>
                  <p class="card-text">Pri tejto hre sa žiaci snažia prejsť drôtenou paličkou kľukatú dráhu bez toho, aby sa kovovej dráhy dotkli. Dôležitá je pevná ruka a trpezlivosť.</p>
                  <div class="text-center">
                    <a href="{{ url_for('static', filename='downloads/metodiky/microbit-makecode-hra-horuci-drot.pdf') }}" class="btn btn-info">Otvoriť</a>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>


      <br><br>

      <div class="card">
        <h5 class="card-header">November</h5>
        <div class="card-body">

          <div class="row">

            <div class="col-md-4 mt-3">
              <div class="card mb-4 box-shadow h-100">
                <h5 class="card-header">Metodika 8</h5>
                <img class="card-img-top" src="{{ url_for('static', filename='img/materialy/vysielame-s-bbc-microbit.png') }}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Bezdrôtová komunikácia</span></h5>
                  <p class="card-text">Naučíme sa základy bezdrôtovej komunikácie medzi micro:bitmi.</p>
                  <div class="text-center">
                    <a href="{{ url_for('static', filename='downloads/metodiky/microbit-makecode-bezdrotova-komunikacia.pdf') }}" class="btn btn-info">Otvoriť</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 mt-3">
              <div class="card mb-4 box-shadow h-100">
                <h5 class="card-header">Metodika 9</h5>
                <img class="card-img-top" src="{{ url_for('static', filename='img/materialy/programovanie-led-pasiku.JPG') }}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Programovenie LED pásiku</h5>
                  <p class="card-text">Pomocou individuálne programovateľného LED pásiku tvoríme svetelné animácie</p>
                  <div class="text-center">
                    <a href="{{ url_for('static', filename='downloads/metodiky/microbit-makecode-programovanie-led-pasiku.pdf') }}" class="btn btn-info">Otvoriť</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 mt-3">
              <div class="card mb-4 box-shadow h-100">
                <h5 class="card-header">Metodika 10</h5>
                <img class="card-img-top" src="{{ url_for('static', filename='img/materialy/led-pasik-ako-modny-doplnok.jpg') }}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">LED pásik ako módny doplnok</h5>
                  <p class="card-text">Vytvor si digitálnu šiltovku, klobúk alebo topánky. Aké je využitie elektroniky v oblečení?</p>
                  <div class="text-center">
                    <a href="{{ url_for('static', filename='downloads/metodiky/microbit-makecode-led-pasik-ako-modny-doplnok.pdf') }}" class="btn btn-info">Otvoriť</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 mt-3">
              <div class="card mb-4 box-shadow h-100">
                <h5 class="card-header">Metodika 11</h5>
                <img class="card-img-top" src="{{ url_for('static', filename='img/materialy/microbit-makecode-03-02.png') }}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Programovanie hudby</h5>
                  <p class="card-text">Propojíme k micro:bitu reproduktor a napíšeme vlasnú pieseň</p>
                  <div class="text-center">
                    <a href="{{ url_for('static', filename='downloads/metodiky/microbit-makecode-programovanie-hudby.pdf') }}" class="btn btn-info">Otvoriť</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 mt-3">
              <div class="card mb-4 box-shadow h-100">
                <h5 class="card-header">Bonusová metodika</h5>
                <img class="card-img-top" src="{{ url_for('static', filename='img/materialy/kartonova-gitara.jpg') }}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Kartónová gitara</h5>
                  <p class="card-text">Zostrojíme vlastnú elektronickú gitaru! Obal tela zostrojíme z kartónu, dozdobíme farebnými papiermi a naprogramujeme pomocou micro:bitu.</p>
                  <div class="text-center">
                    <a href="{{ url_for('static', filename='downloads/metodiky/microbit-makecode-hra-horuci-drot.pdf') }}" class="btn btn-info">Otvoriť</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 mt-3">
              <div class="card mb-4 box-shadow h-100">
                <h5 class="card-header">Bonusová metodika</h5>
                <img class="card-img-top" src="{{ url_for('static', filename='img/materialy/ucebnica-microbit-blockly.png') }}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Sedačková mína</h5>
                  <p class="card-text">Zostrojíme si vlastnú “mínu” - keď si na nu sadneme, reproduktor spustí hudbu. Tvorba “míny” približuje žiakov princíp funfovania bežného elektronického tlačidla.</p>
                  <div class="text-center">
                    <a href="{{ url_for('static', filename='downloads/metodiky/microbit-makecode-hra-horuci-drot.pdf') }}" class="btn btn-info">Otvoriť</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 mt-3">
              <div class="card mb-4 box-shadow h-100">
                <h5 class="card-header">Bonusová metodika</h5>
                <img class="card-img-top" src="{{ url_for('static', filename='img/materialy/ucebnica-microbit-blockly.png') }}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Tikajúca bomba</h5>
                  <p class="card-text">Vytvoríme pomôcku k hre, kde sa učiteľ sa pýta otázky a žiaci odpovedajú. Počas toho si posúvajú “tikajúcu” bombu. Prehráva ten, ktorému “vybuchne” microbit v rukách.</p>
                  <div class="text-center">
                    <a href="{{ url_for('static', filename='downloads/metodiky/microbit-makecode-hra-horuci-drot.pdf') }}" class="btn btn-info">Otvoriť</a>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>

      <br><br>

<!--       <div class="card">
        <h5 class="card-header">December</h5>
        <div class="card-body">

          <div class="row">

            <div class="col-md-4 mt-3">
              <div class="card mb-4 box-shadow h-100">
                <h5 class="card-header">Metodika 12</h5>
                <img class="card-img-top" src="{{ url_for('static', filename='img/materialy/papierovy-robot.jpg') }}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Papierový robot</span></h5>
                  <p class="card-text">Táto hodina bude kreatívna - vytvoríme si papierového robota, ktorého naprogramujeme.</p>
                  <div class="text-center">
                    <a href="#" class="btn btn-warning">Zverejníme 18.9.2019</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 mt-3">
              <div class="card mb-4 box-shadow h-100">
                <h5 class="card-header">Metodika 13</h5>
                <img class="card-img-top" src="{{ url_for('static', filename='img/materialy/inspiracia-na-internete.png') }}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Inšpirácia na internete</h5>
                  <p class="card-text">Zistíme, kde hľadať návody a inšpirácie, pod akými licenciami sú materiály uverejnené a rozoberieme si viac Creative Commons licencie.</p>
                  <div class="text-center">
                    <a href="#" class="btn btn-warning">Zverejníme 18.9.2019</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 mt-3">
              <div class="card mb-4 box-shadow h-100">
                <h5 class="card-header">Metodika 14</h5>
                <img class="card-img-top" src="{{ url_for('static', filename='img/materialy/vianocne-programovanie.jpg') }}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Vianočné programovanie</h5>
                  <p class="card-text">Programovanie vianočných svetielok a hudby</p>
                  <div class="text-center">
                    <a href="#" class="btn btn-warning">Zverejníme 18.9.2019</a>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div> -->


      <br><br>

<!--       <div class="card">
        <h5 class="card-header">Pokračovanie</h5>
        <div class="card-body">
          Podrobný rozpis metodík pre obdobie Január až Jún nájdete v <a href="{{ url_for('static', filename='downloads/metodiky/navod-na-pouzitie-microbit-makecode.pdf') }}"><b>Návode na použite metodík BBC micro:bit & MakeCode</b></a>
        </div>
      </div> -->


    </div>
    
    <div class="tab-pane fade" id="nav-microbit-micropython" role="tabpanel" aria-labelledby="nav-microbit-micropython-tab">

    <div class="alert alert-success mt-3">
      <h4 class="alert-heading">Na metodikách pre Python sa pracuje</h4>
      <p>Žiaľ, napriek našej snahe sa nám nepodarilo zatiaľ pripraviť riadne spracované metodiky na Python na micro:bitoch. Preto sme sa rozhodli dočasne postupovať tak, že k MakeCode metodikám budeme zverejňovať aj zdrojový kód v Pythone (s komentári). Prvé zdrojové kódy zverejníme už 12.9.2019</p>
    </div>

      <div class="row">
        
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="{{ url_for('static', filename='img/materialy/ucebnica-microbit-micropython.png') }}" alt="Programujeme micro:bit v MicroPythone">
            <div class="card-body">
              <p class="card-text"><b>{{ _('Programujeme micro:bit v MicroPythone [SK]') }}</b></p>
              <p class="card-text">{{ _('Manuál vysvetľuje základy práce s doskou micro:bit ako aj programovania v MicroPythone') }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a type="button" class="btn btn-sm btn-outline-secondary" href="http://microbit-micropython.ucimeshardverom.sk/">{{ _('Otvoriť pracovnú verziu') }}</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="{{ url_for('static', filename='img/materialy/dokumentacia-microbit-micropython.png') }}" alt="MicroPython dokumentácia pre dosku micro:bit">
            <div class="card-body">
              <p class="card-text"><b>{{ _('MicroPython dokumentácia pre dosku micro:bit [EN]') }}</b></p>
              <p class="card-text">{{ _('Dokumentácia pre MicroPython na doske micro:bit') }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a type="button" class="btn btn-sm btn-outline-secondary" href="https://microbit-micropython.readthedocs.io">{{ _('Otvoriť') }}</a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  
</div>

</div>
<!-- /END THE FEATURETTES -->
{% endblock %}
