{% extends "body.html" %}
{% block header %}
<meta property="og:url" content="https://www.ucimeshardverom.sk/materialy/"/>
<meta property="og:type" content="website"/>
<meta property="og:title" content="Metodické materiály a návody"/>
<meta property="og:description"
      content="Materiály pre ZŠ a SŠ sú v súlade so štátnym vzdelávacím programom a boli navrhnuté tak, aby mohli byť využívané priamo na hodinách informatiky."/>
<meta property="og:image"
      content="http://ucimeshardverom.sk{{ url_for('static', filename='img/materialy/microbit-makecode-01-04.jpg') }}"/>
{% endblock %}
{% block content %}
<div class="container text-center">
    <div class="jumbotron">
        <h1>Metodické materiály a návody</h1>
    </div>
</div>
<div class="container">

    <h1 class="mb-4">Začíname s BBC micro:bit</h1>
    <hr/>

    <div class="row">
        <div class="col-md-6">
            <div class="card border-dark mb-3">
                <div class="card-header"><b>Základné školy</b></div>
                <div class="card-body text-dark">
                    <p class="card-text">Farebné blokové prostredie <b>MakeCode</b> od Microsoftu je ideálne nie len pre
                        začiatočníkov v programovaní. </p>
                    <a href="{{ url_for('materialy_detail', tutorial_name='microbit_makecode') }}">
                        <img class="img-fluid" style="max-height: 4.5em;"
                             src="{{ url_for('static', filename='img/materialy/makecode_heart_block.png') }}"/>
                    </a>
                    <hr/>
                    <div class="d-flex justify-content-between">
                        <div>
                            <a class="btn btn-primary"
                               href="{{ url_for('materialy_detail', tutorial_name='microbit_makecode') }}"
                               role="button">>> Otvoriť tutoriál</a>
                        </div>
                        <div>
                            <p><b>Marek Mansell</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card border-dark mb-3">
                <div class="card-header"><b>Stredné školy</b></div>
                <div class="card-body text-dark">
                    <p class="card-text"><b>MicroPython</b> je skvelým spôsobom ako si vybudovať programátorské
                        zručnosti v textovom programovacom jazyku.</p>
                    <a href="{{ url_for('materialy_detail', tutorial_name='microbit_micropython') }}">
                        <img class="img-fluid" style="max-height: 4.5em;"
                             src="{{ url_for('static', filename='img/materialy/micropython_line_screenshot.png') }}"/>
                    </a>

                    <hr/>
                    <div class="d-flex justify-content-between">
                        <div>
                            <a class="btn btn-primary"
                               href="{{ url_for('materialy_detail', tutorial_name='microbit_micropython') }}"
                               role="button">
                                >> Otvoriť tutoriál</a>
                        </div>
                        <div>
                            <p><b>Marek Mansell</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h1 class="mb-4">Pokročilejšie návody</h1>
    <p class="lead light">Po zvládnutí základov pomocou základných metodík (vyššie) sa môžete pustiť do rôznych náročnejších
        medzipredmetových projektov, pri ktorých budeme využívať ďalšie senzory a aktory.</p>

        <div class="">
            <div class="card border-dark mb-3">
                <div class="card-header"><b>Wearables - nositeľná elektronika [Microsoft MakeCode]</b></div>
                <div class="card-body text-dark">
                    <p class="card-text">Predstavme si, že chceme mať svietiace tričko. Čo k tomu potrebujeme? – tričko, BBC micro:bit, rezistor, LED diódu, krokosvorkové káble... bolo by také „káblové tričko“ nositeľné? Asi by nosenie bolo náročné. Preto existuje nositeľná elektronika, ktorá nahrádza bežne dostupnú elektroniku.</p>
                    <hr/>
                    <div class="d-flex justify-content-between">
                        <div>
                            <a class="btn btn-primary"
                               href="{{ url_for('materialy_detail', tutorial_name='microbit_wearables') }}"
                               role="button">
                                >> Wearables</a>
                        </div>
                        <div>
                            <p><b>Nika Klimová</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <h2 class="mt-5">Ďalšie materiály z komunity (od učiteľov a nadšencov)</h1>
    <hr/>


    <div class="card border-dark mb-3">
        <div class="card-header"><b>BBC micro:bit & Scratch</b></div>
        <div class="card-body text-dark">
            <p class="card-text">Programovanie zariadenia BBC micro:bit pomocou prostredia Scratch 3</p>
            <hr/>
            <div class="d-flex justify-content-between">
                <div>
                    <a class="btn btn-primary"
                       href="https://drive.google.com/drive/folders/1GyLhAXyp7hrBULE5jkgTYUrPZdK2OK8y"
                       target="_blank"
                       role="button">
                        Otvoriť materiály &#128279;</a>
                </div>
                <div>
                    <p>Autor: <b>Iveta Demková</b></p>
                </div>
            </div>
        </div>
    </div>




    <div class="card border-dark mb-3">
        <div class="card-header"><b>MICRO:BIT V PRAXI - blog Ing. Jozefa Kovárskeho</b></div>
        <div class="card-body text-dark">
            <p class="card-text">Praktické možnosti využitia BBC micro:bit s robotom Ring:bit car V2.0 a ďalšími rozšíreniami</p>
            <hr/>
            <div class="d-flex justify-content-between">
                <div>
                    <a class="btn btn-primary"
                       href="https://microbitvpraxi.wordpress.com/"
                       target="_blank"
                       role="button">
                        Otvoriť materiály &#128279;</a>
                </div>
                <div>
                    <p>Autor: <b>Ing. Jozef Kovársky</b></p>
                </div>
            </div>
        </div>
    </div>


    <!--
    <div class="card border-dark mb-3">
        <div class="card-header"><b>Gator:bit (SparkFun) - CO2, vhlkosť, senzor srdca, mikrofón, ...</b></div>
        <div class="card-body text-dark">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <span class="badge badge-success">Makecode</span>
            <span class="badge badge-info">MicroPython</span>
            <hr/>
            <div class="d-flex justify-content-between">
                <div>
                    <button type="button" class="btn btn-primary">Otvoriť materiál</button>
                </div>
                <div>
                    <p>Autor: <b>Marek Mansell</b></p>
                </div>
            </div>
        </div>
    </div>

    <div class="card border-dark mb-3">
        <div class="card-header"><b>Smart Science Internet of Things (IoT) Kit - WiFi, vzdialenosť, displej, ...</b>
        </div>
        <div class="card-body text-dark">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <span class="badge badge-success">Makecode</span>
            <span class="badge badge-info">MicroPython</span>
            <hr/>
            <div class="d-flex justify-content-between">
                <div>
                    <button type="button" class="btn btn-primary">Otvoriť materiál</button>
                </div>
                <div>
                    <p>Autor: <b>Marek Mansell</b></p>
                </div>
            </div>
        </div>
    </div>

    <div class="card border-dark mb-3">
        <div class="card-header"><b>Smart Home Kit - čerpadlo, polievanie, teplota, ...</b></div>
        <div class="card-body text-dark">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <span class="badge badge-success">Makecode</span>
            <span class="badge badge-info">MicroPython</span>
            <hr/>
            <div class="d-flex justify-content-between">
                <div>
                    <button type="button" class="btn btn-primary">Otvoriť materiál</button>
                </div>
                <div>
                    <p>Autor: <b>Marek Mansell</b></p>
                </div>
            </div>
        </div>
    </div>

    <div class="card border-dark mb-3">
        <div class="card-header"><b>E-textil: Šitie s BBC micro:bit</b></div>
        <div class="card-body text-dark">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <span class="badge badge-success">Makecode</span>
            <span class="badge badge-info">MicroPython</span>
            <hr/>
            <div class="d-flex justify-content-between">
                <div>
                    <button type="button" class="btn btn-primary">Otvoriť materiál</button>
                </div>
                <div>
                    <p>Autor: <b>Nika Klimová</b></p>
                </div>
            </div>
        </div>
    </div>

    <div class="card border-dark mb-3">
        <div class="card-header"><b>MOVE: mini robot</b></div>
        <div class="card-body text-dark">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <span class="badge badge-success">Makecode</span>
            <span class="badge badge-info">MicroPython</span>
            <hr/>
            <div class="d-flex justify-content-between">
                <div>
                    <button type="button" class="btn btn-primary">Otvoriť materiál</button>
                </div>
                <div>
                    <p>Autor: <b>Marek Mansell</b></p>
                </div>
            </div>
        </div>
    </div>
    --->

</div>
{% endblock %}