{% extends "body.html" %}

{% block header %}

<meta content="https://www.ucimeshardverom.sk/sutaz/" property="og:url"/>
<meta property="og:type" content="website"/>
<meta property="og:title" content="Súťaž SPy Cup pre žiakov ZŠ a SŠ"/>
<meta property="og:description"
      content="Žiaci si individuálne alebo v tímoch vypracujú hardvérový projekt s možnosťou prezentácie na konferencii PyCon Slovakia."/>
<meta property="og:image"
      content="http://ucimeshardverom.sk{{ url_for('static', filename='img/random/hra-reakcie.jpg') }}"/>
          <link href="{{ url_for('static', filename='css/print.css') }}" rel="stylesheet">

{% endblock %}

{% block content %}

<div class="container text-center">
</div>

<div class="container">

    <div class="container">
            <!-- <button class="openbtn" onclick="openNav()">☰ Zoznam kapitôl</button> -->

        <nav aria-label="breadcrumb" class="mt-2">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('materialy') }}">Materiály</a></li>
            <li class="breadcrumb-item"><a href="{{ url_for('materialy_detail', tutorial_name=material_slug) }}">{{ settings.title }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ chapter_id }} {{ chapter_title }}</li>
          </ol>
        </nav>

<!--         <a href="{{ url_for('materialy_detail_pdf', tutorial_name=material_slug, chapter_name=chapter_slug, html_template='materialy_print_telekom.html') }}"
           class="btn btn-success mb-3">TELEKOM PDF</a>

        <a href="{{ url_for('materialy_detail_pdf', tutorial_name=material_slug, chapter_name=chapter_slug, html_template='materialy_print.html') }}"
           class="btn btn-primary mb-3">UsH PDF</a>

        <a href="{{ url_for('materialy_detail_pdf', tutorial_name=material_slug, chapter_name=chapter_slug, html_template='telekom_obalka.html') }}"
           class="btn btn-success mb-3">TELEKOM COVER</a> -->

        <div id="accordion" class="mb-2">
            <div class="card">
                <div class="card-header" id="headingThree">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      ☰ Zobraziť zoznam lekcií
                    </button>
                  </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                  <div class="card-body">
                    <ul>
                            {% for item in settings.content %}
                            {% if not settings.content[item].hidden %}
                        <li>
                            {% if item == chapter_slug %} <b> {% endif %}
                                {% if not settings.content[item].chapter %} &nbsp;&nbsp;&nbsp;&nbsp; {% endif %}
                                <a class="" href="/{{ material_base_url }}{{ material_slug }}/{% if loop.index != 1 %}{{ item }}{% endif %}">
                                    {% if material_settings.numbering %}
                                        {{ settings.content[item].index }}
                                    {% endif%}
                                    {{ settings.content[item].title }}
                                </a>
                                    
                                {% if item == chapter_slug %} </b> {% endif %}
                        </li>
                            {% endif %}
                            {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
        </div>

                <div class="row">
                    <div class="col-xl-12 text-justify">

                {% if settings.prev_chapter %}
                    <a href="{{ url_for('materialy_detail', chapter_name=settings.prev_chapter, tutorial_name=material_slug) }}" class="btn btn-outline-primary" role="button" aria-pressed="true">← Predchádzajúca lekcia</a>
                {% endif %}
                {% if settings.next_chapter %}
                    <a href="{{ url_for('materialy_detail', chapter_name=settings.next_chapter, tutorial_name=material_slug) }}" class="btn btn-outline-primary float-right" role="button" aria-pressed="true">Ďalšia lekcia →</a>
                {% endif %}
            </div>
                </div>

        <div class="row">




            <div class="col-xl-12 text-justify">

<!--                 {% if teacher_content_html %}
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="navod-tab" data-toggle="tab" href="#navod"
                           role="tab" aria-controls="navod" aria-selected="true">Návod</a>
                        {% if teacher_content_html %}
                        <a class="nav-item nav-link" id="metodika-tab" data-toggle="tab" href="#metodika"
                           role="tab" aria-controls="metodika" aria-selected="false">Metodika pre učiteľa</a>
                        {% endif %}
                        <a class="nav-item nav-link" id="zdroje-tab" data-toggle="tab" href="#zdroje"
                           role="tab" aria-controls="zdroje" aria-selected="false">Na stiahnutie</a>
                    </div>
                </nav>
                {% endif %} -->

                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="navod" role="tabpanel" aria-labelledby="navod-tab">
                        <div class="mt-4">
                            {{ content_html|safe }}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="metodika" role="tabpanel" aria-labelledby="metodika-tab">
                        <div class="mt-4">
                            {{ teacher_content_html|safe }}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="zdroje" role="tabpanel" aria-labelledby="zdroje-tab">
                        <div class="mt-4">
                            DOWNLOADS
                            <ul>
                            {% for item in settings.downloads %}
                            <li><a href="{{ settings.downloads[item] }}">{{ item }}</a></li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>


                <div class="row">
                    <div class="col-xl-12 text-justify">

                {% if settings.prev_chapter %}
                    <a href="{{ url_for('materialy_detail', chapter_name=settings.prev_chapter, tutorial_name=material_slug) }}" class="btn btn-outline-primary" role="button" aria-pressed="true">← Predchádzajúca lekcia</a>
                {% endif %}
                {% if settings.next_chapter %}
                    <a href="{{ url_for('materialy_detail', chapter_name=settings.next_chapter, tutorial_name=material_slug) }}" class="btn btn-outline-primary float-right" role="button" aria-pressed="true">Ďalšia lekcia →</a>
                {% endif %}
            </div>
                </div>
                
    </div>

</div>


<script>

/* message signatures
export interface RenderBlocksRequestMessage extends SimulatorMessage {
    type: "renderblocks",
    id: string;
    code: string;
    options?: {
        package?: string;
        packageId?: string;
        snippetMode?: boolean;
    }
}

export interface RenderBlocksResponseMessage extends SimulatorMessage {
    source: "makecode",
    type: "renderblocks",
    id: string;
    svg?: string;
    width?: number;
    height?: number;
}*/

var makeCodeRenderPre = makeCodeRenderPre || (function () {
    // pre waiting to be rendered
    // when undefined, iframe is loaded and ready
    var pendingPres = [];
    function injectRenderer() {
        var f = document.getElementById("makecoderenderer");
        // check iframe already added to the DOM
        if (f) {
            return;
        }
        var f = document.createElement("iframe");
        f.id = "makecoderenderer";
        f.style.position = "absolute";
        f.style.left = 0;
        f.style.bottom = 0;
        f.style.width = "1px";
        f.style.height = "1px";
        f.src = "https://makecode.microbit.org/--docs?render=1"
        document.body.appendChild(f);
    }

    function renderPre(pre) {
        console.log('render ' + pre.id)
        var f = document.getElementById("makecoderenderer");
        // check if iframe is added and ready (pendingPres is undefined)
        if (!f || !!pendingPres) {
            // queue up
            pendingPres.push(pre);
            injectRenderer();
        } else {
            f.contentWindow.postMessage({
                type: "renderblocks",
                id: pre.id,
                code: pre.innerText,
                options: {
                  packageId: pre.getAttribute("data-packageid")
                }
            }, "https://makecode.microbit.org/");
        }
    }

    // listen for messages
    window.addEventListener("message", function (ev) {
        var msg = ev.data;
        if (msg.source != "makecode") return;

        console.log(msg.type)
        switch (msg.type) {
            case "renderready":
                // flush pending requests                   
                var pres = pendingPres;
                // set as undefined to notify that iframe is ready
                pendingPres = undefined;
                pres.forEach(function (pre) { renderPre(pre); })
                break;
            case "renderblocks":
                var svg = msg.svg; // this is an string containing SVG
                var id = msg.id; // this is the id you sent

                var xhttp = new XMLHttpRequest();
                xhttp.open("POST", "http://127.0.0.1:5000/materialy/save_makecode_image/"+msg.id, true);
                xhttp.send(msg.uri);

                
                // replace text with svg
                var img = document.createElement("img");
                img.src = msg.uri;
                img.width = msg.width;
                img.height = msg.height;
                var code = document.getElementById(id);
                code.parentElement.insertBefore(img, code)
                code.parentElement.removeChild(code);
                break;
        }
    }, false);

    return renderPre;
})();

function renderSnippets() {
    // TODO ADD RENDER LOGIC HERE
    let pres = document.getElementsByTagName("pre");
    Array.prototype.forEach.call(pres, function (pre) {
        makeCodeRenderPre(pre);
    })
}

// load the renderer
renderSnippets();








</script>



<script>
function openNav() {
  document.getElementById("mySidebar").style.width = "400px";
  document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}
</script>


<!-- /END THE FEATURETTES -->
{% endblock %}