{% extends "body.html" %}

{% block content %}

<div class="container text-center">
  <div class="jumbotron">
    <h1>{{ _('Platforma BBC micro:bit') }}</h1>
  </div>
</div>

<div class="container text-center">

  <img class="featurette-image img-fluid mx-auto" src="{{ url_for('static', filename='img/microbit/26146399942_399dc65ac1_z.jpg') }}" alt="BBC micro:bit image">
  <p class="text-muted">
    <small>
      Foto: <a href="https://flic.kr/p/FQt8M1" target="_blank">Gareth Halfacree</a> (CC-BY-SA)
    </small>
  </p>

</div>

<div class="container">

  <div class="container text-justify" style="padding-top:30px">

    <h2 class="featurette-heading">{{ _('micro:bit pochádza z Veľkej Británie') }}</h2>

    <p>{{ _('Zariadenie BBC micro:bit je výsledkom spoločnej iniciatívy širokého spektra súkromných i verejných organizácií, ktorej cieľom bolo vytvorenie lacnej edukačnej platformy, ktorú zastrešila britská verejnoprávna televízna spoločnosť BBC. Tá v roku 2016 rozdistribuovala jeden micro:bit každému žiakovi siedmeho ročníka v Spojenom Kráľovstve (11 až 12 roční). V rámci projektu bolo vytvorených niekoľko učebných materiálov a vývojových prostredí pre toto zariadenie. Škálu materiálov rozširujú aj učitelia, ktorí zariadenia používali na hodinách informatiky.') }}</p>

    <hr class="featurette-divider">

    <p class="lead">Za prvý polrok využívania micro:bitov vo Veľkej Británií sa v priebežnom prieskume 85% učiteľov vyjadrilo, že hardvér na hodinách informatiky spravil výučbu pre žiakov zaujímavejšou a až 90% opýtaných žiakov sa po projekte vyjadrilo, že naučiť sa programovať je možné pre každého. U dievčat bol pozorovaný 70% nárast záujmu o informatiku. Približne polovica učiteľov uviedla, že sa po projekte cítili viac sebavedomí v programovaní, a to predovšetkým tí učitelia, ktorí nemali veľa predchádzajúcich skúseností s programovaním.</p>

  </div>

  <hr class="featurette-divider">

  <div class="container text-justify">

    <h2 class="featurette-heading">{{ _('Samotná doska') }}</h2>
      
    <p>{{ _('Zariadenie BBC micro:bit je programovateľný mikropočítač. Obsahuje vstavanú obrazovku, tlačidlá, senzor pohybu, naklonenia, teploty a svetelnosti. Podporuje dva druhy bezdrôtovej komunikácie - Bluetooth Low Energy (BLE) pre komunikáciu s mobilnými zariadeniami a rádiový prenos pre komunikáciu s inými zariadeniami BBC micro:bit. Taktiež je možná sériovú komunikácia s počítačom cez USB kábel.') }}</p>

    <p>{{ _('Podobne ako iné modulárne hardvérové platformy má všeobecne použiteľné vstupno-výstupné piny (vývody), vďaka ktorým zariadenie interaguje s fyzickým svetom. Tie majú pri tejto platforme podobu kovových plôch na okraji dosky. Príkladom aplikácie pre vstupný pin je snímanie stlačenia tlačidla, príkladom výstupného je zapínanie a vypínanie LED svetla. Niektoré z týchto pinov podporujú aj sériovú komunikáciu s externými modulmi s vlastným mikroprocesorom. Najjednoduchším spôsobom pripojenia externých modulov je pomocou prepojovacích káblov ukončených krokosvorkami. BBC micro:bit má päť pinov prispôsobených na pripájanie krokosvoriek, z toho dve slúžia na napájanie a tri sú programovateľné ako vstupy alebo výstupy.') }}</p>

    <p>{{ _('Napájanie je realizovateľné tromi spôsobmi: cez USB kábel; dvoma batériami v špeciálnom držiaku bežne dodávanom s BBC micro:bit alebo pripojením batérie priamo na napájacie piny.') }}</p>

  </div>

  <div class="container text-justify">

    <h2 class="featurette-heading">{{ _('Programovanie micro:bitu') }}</h2>
      
    <p>{{ _('<strong>MakeCode</strong> je online grafickým prostredím, v ktorom žiaci vytvárajú pomocou spájania blokov funkčné programy. Vhodný je najmä pre žiakov základných škôl. Výhodou tohoto prostredia je nízka technická náročnosť prípravy pre učiteľa, nakoľko prostredie je online a nie je potrebná žiadna inštalácia. Po vytvorení programu v prostredí si žiak program stiahne ako obyčajný súbor. BBC micro:bit, ktorý si žiak medzičasom pripojil k počítaču pomocou USB kábla, sa na počítači zobrazí ako klasické USB úložisko, na ktoré stiahnutý súbor s programom stačí skopírovať. Program sa následne automaticky spustí na zariadení.') }}</p>

    <p>{{ _('<strong>MicroPython</strong> je špeciálna verzia jazyku Python pre programovanie hardvéru, v ktorej syntax a veľká časť štandardných knižníc zostáva rovnaká. Žiaci sa tak nemusia učiť viacero nových jazykov, ten istý vedia využiť aj pri hardvéri a aj pri klasických programovacích úlohách. Podobne. ako pri blokovom programovaní, je možné využiť online MicroPython editor a stiahnuť vygenerovaný program na zariadenie, no pre využitie rozšírenej funkcionality je vhodné používať prostredie <strong>Mu</strong>. Mu sprístupňuje interaktívnu konzolu REPL, ktorá slúži najmä na ladenie programu a hľadanie chýb, ako aj interné dátové úložisko, na ktoré je možné zapisovať nazbierané údaje zo senzorov') }}.</p>

  </div>

  <div class="container text-justify">

    <h2 class="featurette-heading">{{ _('Kde kúpiť hardvérové sady pre školy?') }}</h2>
      
    <p>Kompletné edukačné sady pre školy je možné kúpiť na stránke <a href="http://www.edutronik.sk/">Edutronik.sk</a></p>

  
  </div>

</div>
<!-- /END THE FEATURETTES -->
{% endblock %}