{% extends "body.html" %}

{% block content %}

<div class="container text-center">
  <div class="jumbotron">
    <h1>O nás</h1>
  </div>
</div>

<div class="container text-justify">

  <h2 class="featurette-heading">SPy o.z.</h2>

  <p class="lead">Poslaním občianskeho združenia SPy (skratka "Slovak Python") je podpora vývojárov a používateľov
    programovacieho jazyka Python, ako aj podpora učiteľov a edukátorov informatiky. Podporujeme a šírime používanie
    programovacieho jazyka Python a iných open source technológii a open source myšlienok v našej spoločnosti.</p>

  <p class="lead">Našim cieľom je poskytovať pomoc a podporu úplným začiatočníkom a ľuďom, ktorí s programovaním
    začínajú. Ďalej si dávame za cieľ spolupracovať so školami a inými vzdelávacími inštitúciami a propagovať
    programovanie (nezávislé od programovacieho jazyka) u detí a mladých ľudí od čo najskoršieho možného veku.</p>

  <p class="lead">Spolupracujeme na rôznych open source projektoch, vytvárame otvorený vzdelávací obsah
    použiteľný pri školskej výuke či samoštúdiu a zasadzujeme sa o používanie otvorených technológii v spoločnosti a
    verejnom sektore.</p>

  <p class="lead">Od roku 2015 sme zorganizovali desiatky stretnuti a projektov. Ak chcete vedieť viac, pozrite sa
    na <a href="https://python.sk">našej stránke</a>.
    </p>

  <hr>
</div>

<div class="container mt-4">

  <h2 class="featurette-heading text-center">Tím projektu Učíme s Hardvérom</h2>

  <div class="py-5 align-middle">
    <div class="container">

      <div class="row text-center">


        <div class="col-md-4 mb-4">
          <div class="h-100">
            <a target="_blank">
              <img class="card-img-top" src="{{ url_for('static', filename='img/volunteers/marek_mansell.jpg') }}"
                   alt="Marek Mansell Avatar">
            </a>
            <div class="card-body">
              <p class="card-text"><b>Marek Mansell</b></p>
              <p class="card-text">Projektový manažér</p>
              <div class="volunteer-web-link">
                <a href="https://marekmansell.sk" target="_blank"><i class="fas fa-globe"></i></a>
                <a href="https://www.facebook.com/marekmansell" target=" _blank"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.linkedin.com/in/marekmansell" target="_blank"><i
                        class="fab fa-linkedin-in"></i></a>
              </div>
              <hr>
              <p class="card-text text-muted">marek.mansell@pycon.sk</p>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-4">
          <div class="h-100">
            <a target="_blank">
              <img class="card-img-top" src="{{ url_for('static', filename='img/volunteers/eva_klimekova.jpg') }}"
                   alt="Eva Klimekova Avatar">
            </a>
            <div class="card-body">
              <p class="card-text"><b>Eva Klimeková</b></p>
              <p class="card-text">Garant projektu & EduSummitu</p>
              <div class="volunteer-web-link">
                <a href="https://www.linkedin.com/in/evameszarosova" target="_blank"><i
                        class="fab fa-linkedin-in"></i></a>
              </div>
              <hr>
              <p class="card-text text-muted">eva.klimekova@pycon.sk</p>
            </div>
          </div>
        </div>

        <div class="col-md-4 mx-auto mb-4">
          <div class="h-100">
            <a target="_blank">
              <img class="card-img-top" src="{{ url_for('static', filename='img/volunteers/nika_klimova.JPG') }}"
                   alt="Nika Klimova Avatar">
            </a>
            <div class="card-body">
              <p class="card-text"><b>Nika Klimová</b></p>
              <p class="card-text">Metodiky & komunikácia s učiteľmi</p>
              <div class="volunteer-web-link">
                <a href="https://www.linkedin.com/in/nikaklimova" target="_blank"><i
                        class="fab fa-linkedin-in"></i></a>
              </div>
              <hr>
              <p class="card-text text-muted">nika.klimova@pycon.sk</p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

</div>


<div class="container mt-4">

  <h2 class="featurette-heading text-center">Taktiež spolupracujeme s</h2>

  <div class="py-5 align-middle">
    <div class="container">

      <div class="row text-center">

        <div class="col-md-4 mx-auto mb-4">
          <div class="h-100">
            <a target="_blank">
              <img class="card-img-top" src="{{ url_for('static', filename='img/volunteers/richard_kellner.jpg') }}"
                   alt="Richard Kellner Avatar">
            </a>
            <div class="card-body">
              <p class="card-text"><b>Richard kellner</b></p>
              <p class="card-text">Komunikácia s partnermi</p>
              <div class="volunteer-web-link">
                <a href="https://www.linkedin.com/in/richardkellner" target="_blank"><i
                        class="fab fa-linkedin-in"></i></a>
              </div>
              <hr>
              <p class="card-text text-muted">richard.kellner@pycon.sk</p>
            </div>
          </div>
        </div>

        <div class="col-md-4 mx-auto mb-4">
          <div class="h-100">
            <a target="_blank">
              <img class="card-img-top" src="{{ url_for('static', filename='img/volunteers/jan_gondol.jpg') }}"
                   alt="Jan Gondol Avatar">
            </a>
            <div class="card-body">
              <p class="card-text"><b>Ján Gondoľ</b></p>
              <p class="card-text">Otvorené vzdelávanie & licencie</p>
              <div class="volunteer-web-link">
                <a href="https://www.linkedin.com/in/jangondol" target="_blank"><i
                        class="fab fa-linkedin-in"></i></a>
              </div>
              <hr>
              <p class="card-text text-muted">jan.gondol@pycon.sk</p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

</div>

<div class="container mt-4 mb-5">

  <h4 class="featurette-heading text-center">Tvorcom nášho loga je Tomáš Hlavatý, ktorému srdečne ďakujeme!</h4>

</div>
<!-- /END THE FEATURETTES -->
{% endblock %}
