{% extends "body.html" %}

{% block content %}

<div class="container text-center">
  <div class="jumbotron">
    <h1>{{ _('O nás') }}</h1>
  </div>
</div>

<div class="container text-center" style="padding-bottom:30px">
  <img class="img-fluid" src="{{ url_for('static', filename='img/random/volunteers.jpg') }}">
</div>

<div class="container text-justify">

  <h2 class="featurette-heading">{{ _('SPy o.z.') }}</h2>

  <p class="lead">{{ _('Poslaním občianskeho združenia SPy (skratka "Slovak Python") je podpora vývojárov a používateľov
    programovacieho jazyka Python, ako aj podpora učiteľov a edukátorov informatiky. Podporujeme a šírime používanie
    programovacieho jazyka Python a iných open source technológii a open source myšlienok v našej spoločnosti.') }}</p>

  <p class="lead">{{ _('Našim cieľom je poskytovať pomoc a podporu úplným začiatočníkom a ľuďom, ktorí s programovaním
    začínajú. Ďalej si dávame za cieľ spolupracovať so školami a inými vzdelávacími inštitúciami a propagovať
    programovanie (nezávislé od programovacieho jazyka) u detí a mladých ľudí od čo najskoršieho možného veku.') }}</p>

  <p class="lead">{{ _('Spolupracujeme na rôznych open source projektoch, vytvárame otvorený vzdelávací obsah
    použiteľný pri školskej výuke či samoštúdiu a zasadzujeme sa o používanie otvorených technológii v spoločnosti a
    verejnom sektore.') }}</p>

  <p class="lead">{{ _('Od roku 2015 sme zorganizovali desiatky stretnuti a projektov. Ak chcete vedieť viac, pozrite sa
    na <a href="https://spy.python.sk">našej stránke</a>.
    ') }}</p>

  <hr>
</div>

<div class="container mt-4">

  <h2 class="featurette-heading text-center">{{ _('Tím projektu Učíme s Hardvérom') }}</h2>

  <div class="py-5 align-middle">
    <div class="container">

      <div class="row text-center">

        <div class="col-md-2"></div>


        <div class="col-md-4 mb-4">
          <div class="h-100">
            <a target="_blank">
              <img class="card-img-top" src="{{ url_for('static', filename='img/volunteers/marek_mansell.jpg') }}"
                   alt="Marek Mansell Avatar">
            </a>
            <div class="card-body">
              <p class="card-text"><b>{{ _('Marek Mansell') }}</b></p>
              <p class="card-text">{{ _('Projektový manažér') }}</p>
              <div class="volunteer-web-link">
                <a href="https://marekmansell.sk" target="_blank"><i class="fa fa-globe"></i></a>
                <a href="https://www.facebook.com/marekmansell" target=" _blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.linkedin.com/in/marekmansell" target="_blank"><i
                        class="fa fa-linkedin"></i></a>
              </div>
              <hr>
              <p class="card-text text-muted">marek.mansell@pycon.sk</p>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-4">
          <div class="h-100">
            <a target="_blank">
              <img class="card-img-top" src="{{ url_for('static', filename='img/volunteers/eva_klimekova.jpg') }}"
                   alt="Eva Klimekova Avatar">
            </a>
            <div class="card-body">
              <p class="card-text"><b>{{ _('Eva Klimeková') }}</b></p>
              <p class="card-text">{{ _('Garant projektu & EduSummitu') }}</p>
              <div class="volunteer-web-link">
                <a href="https://www.linkedin.com/in/evameszarosova" target="_blank"><i
                        class="fa fa-linkedin"></i></a>
              </div>
              <hr>
              <p class="card-text text-muted">eva.klimekova@pycon.sk</p>
            </div>
          </div>
        </div>

      </div>
      <div class="row text-center">


        <div class="col-md-4 mx-auto mb-4">
          <div class="h-100">
            <a target="_blank">
              <img class="card-img-top" src="{{ url_for('static', filename='img/volunteers/nika_klimova.JPG') }}"
                   alt="Nika Klimova Avatar">
            </a>
            <div class="card-body">
              <p class="card-text"><b>{{ _('Nika Klimová') }}</b></p>
              <p class="card-text">{{ _('Metodiky & komunikácia s učiteľmi') }}</p>
              <div class="volunteer-web-link">
                <a href="https://www.linkedin.com/in/nikaklimova" target="_blank"><i
                        class="fa fa-linkedin"></i></a>
              </div>
              <hr>
              <p class="card-text text-muted">nika.klimova@pycon.sk</p>
            </div>
          </div>
        </div>

        <div class="col-md-4 mx-auto mb-4">
          <div class="h-100">
            <a target="_blank">
              <img class="card-img-top" src="{{ url_for('static', filename='img/volunteers/magdalena_halkova.jpg') }}"
                   alt="Magdalena Halkova Avatar">
            </a>
            <div class="card-body">
              <p class="card-text"><b>Magdaléna 'Maggie' Haľková</b></p>
              <p class="card-text">{{ _('Marketing & písanie článkov') }}</p>
              <div class="volunteer-web-link" style="visibility: hidden;">
                <a href="" target="_blank"><i
                        class="fa fa-linkedin"></i></a>
              </div>
              <hr>
              <p class="card-text text-muted">magdalena.halkova@pycon.sk</p>
            </div>
          </div>
        </div>

        <div class="col-md-4 mx-auto mb-4">
          <div class="h-100">
            <a target="_blank">
              <img class="card-img-top" src="{{ url_for('static', filename='img/volunteers/peter_lunacek.jpg') }}"
                   alt="Peter Lunacek Avatar">
            </a>
            <div class="card-body">
              <p class="card-text"><b>Peter 'Luno' Lunáček</b></p>
              <p class="card-text">{{ _('Preklad & tvorba materiálov') }}</p>
              <div class="volunteer-web-link" style="visibility: hidden;">
                <a href="" target="_blank"><i
                        class="fa fa-linkedin"></i></a>
              </div>
              <hr>
              <p class="card-text text-muted">peter.lunacek@pycon.sk</p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

</div>


<div class="container mt-4">

  <h2 class="featurette-heading text-center">{{ _('Taktiež spolupracujeme s') }}</h2>

  <div class="py-5 align-middle">
    <div class="container">

      <div class="row text-center">

        <div class="col-md-4 mx-auto mb-4">
          <div class="h-100">
            <a target="_blank">
              <img class="card-img-top" src="{{ url_for('static', filename='img/volunteers/richard_kellner.jpg') }}"
                   alt="Richard Kellner Avatar">
            </a>
            <div class="card-body">
              <p class="card-text"><b>{{ _('Richard kellner') }}</b></p>
              <p class="card-text">{{ _('Komunikácia s partnermi') }}</p>
              <div class="volunteer-web-link">
                <a href="https://www.linkedin.com/in/richardkellner" target="_blank"><i
                        class="fa fa-linkedin"></i></a>
              </div>
              <hr>
              <p class="card-text text-muted">richard.kellner@pycon.sk</p>
            </div>
          </div>
        </div>

        <div class="col-md-4 mx-auto mb-4">
          <div class="h-100">
            <a target="_blank">
              <img class="card-img-top" src="{{ url_for('static', filename='img/volunteers/jan_gondol.jpg') }}"
                   alt="Jan Gondol Avatar">
            </a>
            <div class="card-body">
              <p class="card-text"><b>{{ _('Ján Gondoľ') }}</b></p>
              <p class="card-text">{{ _('Otvorené vzdelávanie & licencie') }}</p>
              <div class="volunteer-web-link">
                <a href="https://www.linkedin.com/in/jangondol" target="_blank"><i
                        class="fa fa-linkedin"></i></a>
              </div>
              <hr>
              <p class="card-text text-muted">jan.gondol@pycon.sk</p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

</div>

<!-- /END THE FEATURETTES -->
{% endblock %}
