{% extends "body.html" %}

{% block content %}

<div class="container text-center">
    <div class="jumbotron">
        <h1>Partneri a sponzori</h1>
    </div>
</div>

<div class="container">

    <div class="container text-justify" style="padding-top:30px">

        <h2 class="featurette-heading">Ďakujeme</h2>
        <p class="lead">Projekt Učíme s Hardvérom, súťaž SPy Cup a ani konferencia PyCon so sekciou EduSummit by
            neboli možné bez sponzorov a partnerov, a preto im patrí veľká vďaka.</p>
    </div>

    <hr class="featurette-divider">

    <div class="container">

        <h2 class="featurette-heading">Sponzori projektu Učíme s Hardvérom</h2>

        <div class="album py-5">
            <div class="container">
                <div class="row">

                    <div class="col-md-6">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top"
                                 src="{{ url_for('static', filename='img/partners/accenture.jpg') }}"
                                 alt="Accenture Nadačný fond">
                            <div class="card-body text-center">
                                <p class="card-text"><b>Accenture Nadačný fond</b></p>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="card mb-4 box-shadow" style="height: 347px">
                            <img class="card-img-top" src="{{ url_for('static', filename='img/partners/telekom.jpg') }}"
                                 alt="Nadačný fond Telekom">
                            <div class="card-body text-center">
                                <p class="card-text"><b>Nadačný fond Telekom</b></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card mb-4 box-shadow">
                            <a href="https://www.netherlandschamber.sk/" target="_blank">
                                <img class="card-img-top"
                                     src="{{ url_for('static', filename='img/partners/netherlands_chamber.png') }}"
                                     alt="EuroPython Society">
                            </a>
                            <div class="card-body text-center">
                                <p class="card-text"><b>Netherlands Chamber of Commerce</b></p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>


    <div class="container">

        <h2 class="featurette-heading">V minulosti nás podporili</h2>

        <div class="album py-5">
            <div class="container">
                <div class="row">

                    <div class="col-md-6">
                        <div class="card mb-4 box-shadow">
                            <a href="https://www.europython-society.org/about" target="_blank">
                                <img class="card-img-top"
                                     src="{{ url_for('static', filename='img/partners/EPS-Logo-v3.svg') }}"
                                     alt="EuroPython Society">
                            </a>
                            <div class="card-body text-center">
                                <p class="card-text"><b>EuroPython Society</b></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card mb-4 box-shadow">
                            <a href="https://www.europython-society.org/about" target="_blank">
                                <img class="card-img-top" style="height: 381px"
                                     src="{{ url_for('static', filename='img/partners/psf.svg') }}"
                                     alt="Python Software Foundation">
                            </a>
                            <div class="card-body text-center">
                                <p class="card-text"><b>Python Software Foundation</b></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card mb-4 box-shadow" style="height: 347px">
                            <img class="card-img-top" src="{{ url_for('static', filename='img/partners/orange.jpg') }}"
                                 alt="Nadácia Orange">
                            <div class="card-body text-center">
                                <p class="card-text"><b>Nadácia Orange</b></p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="container">

        <h2 class="featurette-heading">Partneri a podporovatelia projektu Učíme s Hardvérom</h2>

        <div class="album py-5">
            <div class="container">
                <div class="row">

                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="{{ url_for('static', filename='img/partners/pontis.png') }}"
                                 alt="Programujeme micro:bit v MicroPythone">
                            <div class="card-body text-center">
                                <p class="card-text"><b>Nadácia Pontis</b></p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>


    <div class="container">

        <h2 class="featurette-heading">Partneri a sponzori súťaže SPy Cup 2020</h2>

        <div class="album py-5">
            <div class="container">
                <div class="row text-center justify-content-center">

                    <div class="col-md-3 align-self-center">
                        <div class="card mb-4 box-shadow border-0">
                            <a href="http://rlx.sk/" target="_blank"><img class="card-img-top"
                                                                          src="{{ url_for('static', filename='img/partners/rlx.jpg') }}"></a>
                        </div>
                    </div>

<!--                    <div class="col-md-4 align-self-center">-->
<!--                        <div class="card mb-4 box-shadow border-0">-->
<!--                            <a href="http://martinus.sk/" target="_blank"><img class="card-img-top"-->
<!--                                                                               src="{{ url_for('static', filename='img/partners/martinus.jpg') }}"></a>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="col-md-4 align-self-center">-->
<!--                        <div class="card mb-4 box-shadow border-0">-->
<!--                            <a href="http://exponea.com/" target="_blank"><img class="card-img-top"-->
<!--                                                                               src="{{ url_for('static', filename='img/partners/exponea.jpg') }}"></a>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="col-md-4 align-self-center">-->
<!--                        <div class="card mb-4 box-shadow border-0">-->
<!--                            <a href="http://rpishop.cz/" target="_blank"><img class="card-img-top"-->
<!--                                                                              src="{{ url_for('static', filename='img/partners/rpishop.jpg') }}"></a>-->
<!--                        </div>-->
<!--                    </div>-->

                    <div class="col-md-4 align-self-center">
                        <div class="card mb-4 box-shadow border-0">
                            <a href="https://www.metrohm.com/sk-sk/spolocnost/sk-metrohm-research/" target="_blank"><img
                                    class="card-img-top"
                                    src="{{ url_for('static', filename='img/partners/metrohm_research.png') }}"></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>
<!-- /END THE FEATURETTES -->
{% endblock %}
