{% extends "body.html" %}

{% block content %}

<div class="container text-center">
  <div class="jumbotron">
    <h1>{{ _('Pilotný projekt') }}</h1>
  </div>
</div>

<div class="container text-justify">

  <h2 class="featurette-heading">{{ _('Pilotná fáza projektu Učíme s Hardvérom') }}</h2>
  <p class="lead">{{ _('Na tejto stránke nájdete harmonogram pilotnej fázy, ako aj všetky dôležité materiály. Táto stránka ako aj materiály budú priebežne dopĺňané.') }}</p>

</div>

<div class="container">

  <hr class="featurette-divider">

  <div class="container text-justify">

    <h2 class="featurette-heading">{{ _('Harmonogram') }}</h2>

    <ul>
      <li><b>14.1.2019 - 31.1.2019</b> - Prihlasovanie žiakov súťaže <a href="http://ucimeshardverom.sk/sutaz/">SPy Cup</a></li>
      <li><b>1.2.2019 - 15.2.2019</b> - Zasielanie vypracovaného zadania do <a href="http://ucimeshardverom.sk/sutaz/">SPy Cup</a></li>
      <li><b>22.3.2019 - 24.3.2019</b> - PyCon SK - <a href="https://2019.pycon.sk/sk/edusummit.html">EduSummit</a> je v piatok a sobotu</li>
    </ul>

  </div>

  <div class="container text-justify">

    <h2 class="featurette-heading">{{ _('Výučba so základnou sadou HW') }}</h2>

    <p>{{ _('V tejto časti výučby sa žiaci zoznámi so zariadením BBC micro:bit a jeho možnosťami') }}</p>

    <ul>
      <li><b>Metodické materiály</b></li>
      <ul>
        <li>Metodika 1.1 - <a href="{{ url_for('static', filename='downloads/metodiky/microbit-makecode-01-01.pdf') }}">Zoznámenie sa s BBC micro:bit</a></li></li>
        <li>Metodika 1.2 - <a href="{{ url_for('static', filename='downloads/metodiky/microbit-makecode-01-02.pdf') }}">BBC micro:bit v pohybe</a></li></li>
        <li>Metodika 1.3 - <a href="{{ url_for('static', filename='downloads/metodiky/microbit-makecode-01-03.pdf') }}">Bezdrôtová komunikácia</a></li></li>
        <li>Metodika 1.4 - <a href="{{ url_for('static', filename='downloads/metodiky/microbit-makecode-01-04.pdf') }}">Poslušne hlásim</a></li></li>
        <li>Metodika 1.5 - <a href="{{ url_for('static', filename='downloads/metodiky/microbit-makecode-01-05.pdf') }}">Kameň, papier, nožnice</a></li></li>
        <li>Metodika 2.1 - <a href="{{ url_for('static', filename='downloads/metodiky/microbit-makecode-02-01.pdf') }}">Elektrické obvody a vodivosť materiálov</a></li></li>
        <li>Metodika 3.1 - <a href="{{ url_for('static', filename='downloads/metodiky/microbit-makecode-03-01.pdf') }}">Programovenie LED pásiku</a></li></li>
        <li>Metodika 3.3 - <a href="{{ url_for('static', filename='downloads/metodiky/microbit-makecode-03-02.pdf') }}">Programovanie hudby</a></li></li>
      </ul>
      <li><a href="https://goo.gl/forms/HqULQTZrjpl9UWQu2">Feedback na metodiky</a></li></li>

    </ul>



  </div>

</div>

<!-- /END THE FEATURETTES -->
{% endblock %}