{% extends "body.html" %}

{% block content %}

<div class="container text-center">
  <div class="jumbotron">
    <h1>Pilotný projekt') }}</h1>
  </div>
</div>

<div class="container text-justify">

  <!-- <h2 class="featurette-heading">Pilotná fáza projektu Učíme s Hardvérom') }}</h2> -->
  <!-- <p class="lead">Na tejto stránke nájdete harmonogram pilotnej fázy, ako aj všetky dôležité materiály. Táto stránka ako aj materiály budú priebežne dopĺňané.') }}</p> -->

</div>

<div class="container">

  <hr class="featurette-divider">


</div>

<!-- /END THE FEATURETTES -->
{% endblock %}