{% extends "body.html" %}

{% block header %}

<meta content="https://www.ucimeshardverom.sk/sutaz/" property="og:url"/>
<meta property="og:type" content="website"/>
<meta property="og:title" content="Súťaž SPy Cup pre žiakov ZŠ a SŠ"/>
<meta property="og:description"
      content="Žiaci si individuálne alebo v tímoch vypracujú hardvérový projekt s možnosťou prezentácie na konferencii PyCon Slovakia."/>
<meta property="og:image"
      content="http://ucimeshardverom.sk{{ url_for('static', filename='img/random/hra-reakcie.jpg') }}"/>

{% endblock %}

{% block content %}


<div class="container text-center">
  <div class="jumbotron">
    <h1>Pridaj sa k nám') }}</h1>
  </div>
</div>

<div class="container">

  <div class="container text-justify">

    <p class="lead">Fungujeme primárne na dobrovoľníckej báze (a budeme veľmi radi, ak sa k nám pridáš ako dobrovoľník/čka), avšak niektoré pozície máme aj platené (viď nižšie).') }}</p>

    <hr class="featurette-divider">

	<h3>HĽADÁME medzi seba “Creative Specialist-u/ku”</h3>
    <p><b>Máš dostatok kreativity a chceš pracovať na vzdelávacom projekte, pri ktorom môžeš nahliadnuť aj do sveta IT? </b></p>
    <p>Na naše vzdelávacie projekty (www.ucimeshardverom.sk, www.edutalents.sk a www.pycon.sk) hľadáme kreatívneho človeka, ktorý bude tvoriť digitálny obsah.</p>
    <p>Čo bude tvojou úlohou?</p>
    <ul>
    	<li>Copywriting textov do nášho blogu (rozhovory s učiteľmi, žiakmi a lektormi, články o našich eventoch či články o našich metodikách)</li>
    	<li>Tvorba info grafík a plagátov (Canva alebo Photoshop)</li>
    	<li>Tvorba newsletterov v MailChimp (v SK aj v EN)</li>
    	<li>Pravidelné postovanie a odpovedanie na správy na sociálnych sieťach</li>
    	<li>Vytvorenie stratégie a obsahu pre Facebook a Instagram (PPC iba výnimočne)</li>
    	<li>Príprava/feedback podkladov (textu, scénar) pre promo videá (iba výnimočne, videá robí externá firma)</li>
    </ul>
    <p>(síce to môže vyzerať, že je toho veľa, ale najdôležitejší je Copywriting a Canva/Photoshop, zvyšné veci Ťa dokážeme naučiť, respektíve nájsť niekoho skúsenejšieho, kto Ti bude radiť)</p>
    <p>Koľko času ti táto práca zaberie?</p>
    <p>20 hodín týždenne (čas je flexibilný a dá sa čiastočne robiť aj z domu, zvyšný čas sa zdržiavame v coworkingu v Starom Meste, Bratislava).</p>
    <p>Mzda je 5€/hod a formu si môžeš zvoliť podľa tvojich preferencií, či už ti viac vyhovuje pracovať ako brigádnik/čka, na part-time, či na živnosť.</p>
    <br>
    <hr class="featurette-divider">

    <h3>HĽADÁME medzi seba “Project Administratora/ku”</h3>
    <p><b>Baví ťa organizovanie a koordinácia vzdelávacích eventov, vďaka ktorým môžeš     nahliadnuť aj do sveta IT? </b></p>
    <p>Na naše vzdelávacie projekty (www.ucimeshardverom.sk, www.edutalents.sk a www.pycon.sk) hľadáme zodpovedného človeka, ktorý bude koordinovať organizáciu školení, komunikovať so školami a učiteľmi a pripravovať podklady pre finančné granty. </p>
    <p>Čo bude tvojou úlohou?</p>
    <ul>
    	<li>Koordinácia školení pre učiteľov informatiky po celom Slovensku 2x mesačne.</li>
    	<li>Koordinácia škôl v projekte Učíme s Hardvérom - komunikácia dôležitých termínov a podkladov, ktoré majú školy odovzdávať.</li>
    	<li>Organizácia sobotňajších kurzov EduTalents (1x mesačne).</li>
    	<li>Príprava štatistických podkladov pre infografiky a vyhodnocovanie feedbacku.</li>
    	<li>Príprava podkladov na grantové schémy (žiadosti aj vyúčtovania).</li>
    </ul>
    <p>Koľko času ti táto práca zaberie?</p>
    <p>20 hodín týždenne (čas je flexibilný a dá sa čiastočne robiť aj z domu, zvyšný čas sa zdržiavame v coworkingu v Starom Meste, Bratislava).</p>
    <p>Mzda je 5€/hod a formu si môžeš zvoliť podľa tvojich preferencií, či už ti viac vyhovuje pracovať ako brigádnik/čka, na part-time, či na živnosť.</p>
    <br>
    <hr class="featurette-divider">
    <br>
    <h4>O občianskom združení SPy:</h4>
    <p>Sme partia nadšencov pre vzdelávanie, ktorí sa snažia šíriť osvetu vo vzdelávaní digitálnych technológií, používaní otvorených licencií a využití programovacieho jazyka Python. Fungujeme primárne na dobrovoľníckej báze, a za uplynulý rok sa nám okrem organizovania už štvrtej konferencie PyCon SK pre 600 ľudí podarilo vytvoriť metodické materiály, ktoré sa používajú na vyše 40 školách, zaškoliť približne 200 učiteľov informatiky a zorganizovať celoslovenskú žiacku súťaž SPy Cup. Od septembra spúšťame vzdelávací program pre študentov EduTalents.</p>
    <br>
    <p>Chceš byť súčasťou nášho tímu? Neváhaj a <b>napíš nám na info@pycon.sk</b>, kde odpovieš na otázku, prečo ťa táto ponuka zaujala, aké sú tvoje doterajšie skúsenosti a na čom by si sa chcel/a zamakať a posunúť sa :-)</p>


  </div>

<!-- /END THE FEATURETTES -->
{% endblock %}