{% extends "body.html" %}
{% block content %}
    <div class="container text-center">
        <div class="jumbotron">
            <h1>Školenia a webináre pre učiteľov</h1>
        </div>
    </div>
    <div class="container">

        <p class="h4" style="">Školenia na BBC micro:bit pre učiteľov</p>

        <p>
            Pravidelne organizujeme <b>bezplatné školenia pre učiteľov</b>, ktoré majú za cieľ
            detailne prejsť prácu s micro:bitmi a pripraviť na výučbu. Štandardne robíme takéto školenia fyzicky (po
            celom Slovensku), avšak kvôli COVID-19 budeme musieť školenia realizovať online. No aj takéto školenie môže
            byť plnohodnotné - podmienkou je, že v danom čase budete mať vlastnú sadu BBC micro:bit, a tak počas
            webináru budete môcť samostatne robiť jednotlivé aktivity z domu.
            <br>
            <br>
            Aby ste z online školenia vyťažili maximum, odporúčame mať nasledujúce <a href="{{ url_for('hardver') }}">komponenty</a>:
            BBC micro:bit, držiak na batérie, krokosvorkové káble, LED diódy, LED pásik, reproduktor. Zároveň sú tieto
            komponenty vhodné aj pre dištančnú výučbu so žiakmi – každý žiak môže sadu dostať domov a pracovať na
            jednoduchých hardvérových projektoch podľa návodov na <a href="https://enter.study/" target="_blank">enter.study</a>
            alebo na tejto stránke.
        </p>

        <hr>

        <div class="alert alert-info mt-3" role="alert">
            <h4 class="alert-heading">Online kurz „Blok 1: Základy na BBC micro:bit (displej, tlačidlá a senzor
                pohybu)“</h4>
            <p class="text-justify">
                Prvý kurz sa skladá z 2 online stretnutí, v ktorých si prejdeme základy práce s micro:bitmi -
                zobrazovanie obrázkov, využívanie tlačidiel a senzoru naklonenia/akcelerácie a prostredia Microsoft
                Makecode a micro:bit classroom. <b>Nie sú potrebné žiadne predchádzajúce znalosti.</b>
            </p>
            <p class="mb-0 text-muted font-italic">
                Pre plnohodnotné absolvovanie kurzu je potrebné mať k dispozícii BBC micro:bit a micro USB
                kábel (prípadne držiak na batérie a 2x AAA batérie, ale nie je to nevyhnutné).
            </p>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Termíny kurzu</th>
                    <th scope="col">Počet online stretnutí</th>
                    <th scope="col">Prostredie</th>
                    <th scope="col">Prihláška</th>
                </tr>
                </thead>
                <tbody>

                <tr>
                    <td>
                        25.01.2021 15.00-17.00 a 01.02.2021 15.00-17.00
                        <span class="badge badge-secondary">Kapacita naplnená</span>
                    </td>
                    <td>2x (Pondelky o 15.00)</td>
                    <td><span class="badge badge-secondary">MakeCode pre ZŠ/SŠ</span></td>
                    <td><a href="https://forms.gle/zFtT3echrvJo1PrR6">Prihlásiť sa</a></td>
                </tr>

                <tr>
                    <td>
                        25.01.2021 17.00-19.00 a 01.02.2021 17.00-19.00
                        <span class="badge badge-secondary">Kapacita naplnená</span>
                    </td>
                    <td>2x (Pondelky o 17.00)</td>
                    <td><span class="badge badge-secondary">MakeCode pre ZŠ/SŠ</span></td>
                    <td><a href="https://forms.gle/8EcX1qMLCzPU6raj9">Prihlásiť sa</a></td>
                </tr>

                <tr>
                    <td>
                    	26.01.2021 15.00-17.00 a 02.02.2021 15.00-17.00
                    	<span class="badge badge-secondary">Kapacita naplnená</span>
                    </td>
                    <td>2x (Utorky o 15.00)</td>
                    <td><span class="badge badge-secondary">MakeCode pre ZŠ/SŠ</span></td>
                    <td><a href="https://forms.gle/mSrzz1KzAgoa1xDC9">Prihlásiť sa</a></td>
                </tr>

                <tr>
                    <td>
                    	26.01.2021 17.00-19.00 a 02.02.2021 17.00-19.00
                    	<span class="badge badge-secondary">Kapacita naplnená</span>
                    </td>
                    <td>2x (Utorky o 17.00)</td>
                    <td><span class="badge badge-secondary">MakeCode pre ZŠ/SŠ</span></td>
                    <td><a href="https://forms.gle/mVN34fVSdzomRwaH9">Prihlásiť sa</a></td>
                </tr>

                <tr>
                    <td>
                    	27.01.2021 15.00-17.00 a 03.02.2021 15.00-17.00
                    	<span class="badge badge-secondary">Kapacita naplnená</span>
                    </td>
                    <td>2x (Stredy o 15.00)</td>
                    <td><span class="badge badge-secondary">MakeCode pre ZŠ/SŠ</span></td>
                    <td><a href="https://forms.gle/HExnUsRvYk4cEoX57">Prihlásiť sa</a></td>
                </tr>

                <tr>
                    <td>
                    	27.01.2021 17.00-19.00 a 03.02.2021 17.00-19.00
                    	<span class="badge badge-secondary">Kapacita naplnená</span>
                    </td>
                    <td>2x (Stredy o 17.00)</td>
                    <td><span class="badge badge-secondary">MakeCode pre ZŠ/SŠ</span></td>
                    <td><a href="https://forms.gle/4pM1Q64tEpNNfPah9">Prihlásiť sa</a></td>
                </tr>

                <tr>
                    <td>
                        18.02.2021 15.00-17.00 a 25.02.2021 15.00-17.00
                        <span class="badge badge-success">Kapacita navýšená</span>
                    </td>
                    <td>2x (Štvrtky o 15.00)</td>
                    <td><span class="badge badge-secondary">MakeCode pre ZŠ/SŠ</span></td>
                    <td><a href="https://forms.gle/2VdRKgz9b265c81Y9">Prihlásiť sa</a></td>
                </tr>

                <tr>
                    <td>
                        18.02.2021 17.00-19.00 a 25.02.2021 17.00-19.00
                        <span class="badge badge-success">Kapacita navýšená</span>
                    </td>
                    <td>2x (Štvrtky o 17.00)</td>
                    <td><span class="badge badge-danger">Python pre SŠ</span></td>
                    <td><a href="https://forms.gle/cWFfBZpLPuTDeebG7">Prihlásiť sa</a></td>
                </tr>

                </tbody>
            </table>
            <hr>
        </div>

        <div class="alert alert-info mt-3" role="alert">
            <h4 class="alert-heading">Online kurz „Blok 2: Bezdrôtová komunikácia, hudba a elektrické obvody s BBC
                micro:bit“</h4>
            <p class="text-justify">
                Druhý kurz sa skladá z 3 online stretnutí, ktoré sa zameriavajú na bezdrôtovú komunikáciu medzi
                micro:bitmi, prehrávanie hudby na reproduktoroch a rozpoznávaním uzatvorenia elektrických obvodov
                pomocou kolíkov. <b>Sú potrebné predchádzajúce znalosti na úrovni Bloku 1</b>.
            </p>
            <p class="mb-0 text-muted font-italic text-justify">
                Pre plnohodnotné absolvovanie kurzu je potrebné mať k dispozícii 2x BBC micro:bit (pre
                bezdrôtovú komunikáciu, ale ak nemáte druhý micro:bit k dispozícii viete kurz absolvovať aj s jedným
                micro:bitom), micro USB kábel, reproduktor s 3,5mm JACK vstupom a krokosvorkové káble.
            </p>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Termíny kurzu</th>
                    <th scope="col">Počet online stretnutí</th>
                    <th scope="col">Prostredie</th>
                    <th scope="col">Prihláška</th>
                </tr>
                </thead>
                <tbody>

                <tr>
                    <td>
                    	28.01.2021 15.00-17.00 & 04.02.2021 15.00-17.00 & 11.02.2021 15.00-17.00
                    	<span class="badge badge-secondary">Kapacita naplnená</span>
                    </td>
                    <td>3x (Štvrtky o 15.00)</td>
                    <td><span class="badge badge-secondary">MakeCode pre ZŠ/SŠ</span></td>
                    <td><a href="https://forms.gle/vgAjQ2NtqXzAoga69">Prihlásiť sa</a></td>
                </tr>

                <tr>
                    <td>
                    	28.01.2021 17.00-19.00 & 04.02.2021 17.00-19.00 & 11.02.2021 17.00-19.00
                    	<span class="badge badge-secondary">Kapacita naplnená</span>
                    </td>
                    <td>3x (Štvrtky o 17.00)</td>
                    <td><span class="badge badge-secondary">MakeCode pre ZŠ/SŠ</span></td>
                    <td><a href="https://forms.gle/dtY1LLiBRnwgZyom7">Prihlásiť sa</a></td>
                </tr>

                <tr>
                    <td>
                        08.02.2021 15.00-17.00 & 15.02.2021 15.00-17.00 & 22.02.2021 15.00-17.00
                        <span class="badge badge-success">Kapacita navýšená</span>
                    </td>
                    <td>3x (Pondelky o 15.00)</td>
                    <td><span class="badge badge-secondary">MakeCode pre ZŠ/SŠ</span></td>
                    <td><a href="https://forms.gle/xKEnrdMFjo8isUiV7">Prihlásiť sa</a></td>
                </tr>

                <tr>
                    <td>
                        08.02.2021 17.00-19.00 & 15.02.2021 17.00-19.00 & 22.02.2021 17.00-19.00
                        <span class="badge badge-success">Kapacita navýšená</span>
                    </td>
                    <td>3x (Pondelky o 17.00)</td>
                    <td><span class="badge badge-secondary">MakeCode pre ZŠ/SŠ</span></td>
                    <td><a href="https://forms.gle/uFSSt21ZX1DVGyfP8">Prihlásiť sa</a></td>
                </tr>

                <tr>
                    <td>
                    	09.02.2021 15.00-17.00 & 16.02.2021 15.00-17.00 & 23.02.2021 15.00-17.00
                    	<span class="badge badge-success">Kapacita navýšená</span>
                    </td>
                    <td>3x (Utorky o 15.00)</td>
                    <td><span class="badge badge-secondary">MakeCode pre ZŠ/SŠ</span></td>
                    <td><a href="https://forms.gle/5HSk1M7i13DBL7DW9">Prihlásiť sa</a></td>
                </tr>

                <tr>
                    <td>
                    	09.02.2021 17.00-19.00 & 16.02.2021 17.00-19.00 & 23.02.2021 17.00-19.00
                    	<span class="badge badge-success">Kapacita navýšená</span>
                    </td>
                    <td>3x (Utorky o 17.00)</td>
                    <td><span class="badge badge-secondary">MakeCode pre ZŠ/SŠ</span></td>
                    <td><a href="https://forms.gle/M3HjVeopwPfZzdJQ8">Prihlásiť sa</a></td>
                </tr>

                <tr>
                    <td>
                    	10.02.2021 15.00-17.00 & 17.02.2021 15.00-17.00 & 24.02.2021 15.00-17.00
                    	<span class="badge badge-success">Kapacita navýšená</span>
                    </td>
                    <td>3x (Stredy o 15.00)</td>
                    <td><span class="badge badge-secondary">MakeCode pre ZŠ/SŠ</span></td>
                    <td><a href="https://forms.gle/vTaA7Jsq1VgvAo8t8">Prihlásiť sa</a></td>
                </tr>

                <tr>
                    <td>
                    	10.02.2021 17.00-19.00 & 17.02.2021 17.00-19.00 & 24.02.2021 17.00-19.00
                    	<span class="badge badge-success">Kapacita navýšená</span>
                    </td>
                    <td>3x (Stredy o 17.00)</td>
                    <td><span class="badge badge-secondary">MakeCode pre ZŠ/SŠ</span></td>
                    <td><a href="https://forms.gle/1YtMsx2JCjh9e3qu9">Prihlásiť sa</a></td>
                </tr>


                </tbody>
            </table>
        </div>

        <div class="alert alert-info mt-3" role="alert">
            <h4 class="alert-heading">Online kurz „Blok 3: LED diódy a LED pásiky s BBC micro:bit“</h4>
            <p>Tretí kurz sa skladá z 2 online stretnutí - v prvom sa budeme venovať pripájaniu LED diód a v druhom
                NeoPixel LED pásikov. <b>Sú potrebné predchádzajúce znalosti na úrovni Bloku 2.</b></p>
            <hr>
            <p class="text-muted">Momentálne nemáme zverejnené žiadne termíny pre daný kurz, v prípade záujmu, prosím,
                vyplňte <a target="_blank"
                           href="https://docs.google.com/forms/d/e/1FAIpQLSfc79912fFZGKw3mKhcSAObzuDJLgAYmCeuKJkcnkQbVZ-5rg/viewform?usp=sf_link">
                    predbežnú prihlášku</a>.</p>
            <hr>
            <p class="mb-0">Pre plnohodnotné absolvovanie kurzu je potrebné mať k dispozícii BBC micro:bit, LED diódy,
                rezistory, LED pásik a krokosvorkové káble.</p>
        </div>

        <div class="alert alert-info mt-3" role="alert">
            <h4 class="alert-heading">Online kurz „Blok 4: Komplexnejšie projekty s BBC micro:bit“</h4>
            <p>Štvrtý kurz sa bude skladať z dvoch online stretnutí, ktoré sa budú venovať komplexnejším menším
                projektom - napr. banánový klavír, meranie napätia na baterke,... <b>Sú potrebné predchádzajúce znalosti
                    aspoň na úrovni Bloku 2.</b></p>
            <hr>
            <p class="text-muted">Momentálne nemáme zverejnené žiadne termíny pre daný kurz, v prípade záujmu, prosím,
                vyplňte <a target="_blank"
                           href="https://docs.google.com/forms/d/e/1FAIpQLSfc79912fFZGKw3mKhcSAObzuDJLgAYmCeuKJkcnkQbVZ-5rg/viewform?usp=sf_link">
                    predbežnú prihlášku</a>.</p>
            <hr>
            <p class="mb-0">Potrebné pomôcky zverejníme.</p>
        </div>

        <div class="alert alert-info mt-3" role="alert">
            <h4 class="alert-heading">Online kurz „Rozširujúca sada: Smart Home Kit (ELECFREAKS)“</h4>
            <p>Webináre k rozširujúcej sade Smart Home Kit. <b>Sú potrebné predchádzajúce znalosti na úrovni Bloku
                2.</b></p>
            <hr>
            <p class="text-muted">Momentálne nemáme zverejnené žiadne termíny pre daný kurz, v prípade záujmu, prosím,
                vyplňte <a target="_blank"
                           href="https://docs.google.com/forms/d/e/1FAIpQLSfc79912fFZGKw3mKhcSAObzuDJLgAYmCeuKJkcnkQbVZ-5rg/viewform?usp=sf_link">
                    predbežnú prihlášku</a>.</p>
            <hr>
            <p class="mb-0">Pre plnohodnotné absolvovanie kurzu je potrebné mať k dispozícii sadu Smart Home Kit
                (ELECFREAKS).</p>
        </div>

        <div class="alert alert-info mt-3" role="alert">
            <h4 class="alert-heading">Online kurz „Rozširujúca sada: Elecrow Basic Kit“</h4>
            <p>Webináre k rozširujúcej sade Elecrow Basic Kit. <b>Sú potrebné predchádzajúce znalosti na úrovni Bloku
                2.</b></p>
            <hr>
            <p class="text-muted">Momentálne nemáme zverejnené žiadne termíny pre daný kurz, v prípade záujmu, prosím,
                vyplňte <a target="_blank"
                           href="https://docs.google.com/forms/d/e/1FAIpQLSfc79912fFZGKw3mKhcSAObzuDJLgAYmCeuKJkcnkQbVZ-5rg/viewform?usp=sf_link">
                    predbežnú prihlášku</a>.</p>
            <hr>
            <p class="mb-0">Pre plnohodnotné absolvovanie kurzu je potrebné mať k dispozícii sadu Elecrow Basic Kit</p>
        </div>

        <div class="alert alert-info mt-3" role="alert">
            <h4 class="alert-heading">Online kurz „Robot: Ring:bit Car Kit V2 (ELECFREAKS)“</h4>
            <p>Webináre k robotickej platforme Ring:bit Car Kit V2. <b>Sú potrebné predchádzajúce znalosti na úrovni
                Bloku 2.</b></p>
            <hr>
            <p class="text-muted">Momentálne nemáme zverejnené žiadne termíny pre daný kurz, v prípade záujmu, prosím,
                vyplňte <a target="_blank"
                           href="https://docs.google.com/forms/d/e/1FAIpQLSfc79912fFZGKw3mKhcSAObzuDJLgAYmCeuKJkcnkQbVZ-5rg/viewform?usp=sf_link">
                    predbežnú prihlášku</a>.</p>
            <hr>
            <p class="mb-0">Pre plnohodnotné absolvovanie kurzu je potrebné mať k dispozícii robota Ring:bit Car Kit V2
                (ELECFREAKS)</p>
        </div>

        <div class="alert alert-info mt-3" role="alert">
            <h4 class="alert-heading">Online kurz „Robot: MOVE: mini robot (Kitronik)“</h4>
            <p>Webináre k robotickej platforme MOVE: mini robot. <b>Sú potrebné predchádzajúce znalosti na úrovni Bloku
                2.</b></p>
            <hr>
            <p class="text-muted">Momentálne nemáme zverejnené žiadne termíny pre daný kurz, v prípade záujmu, prosím,
                vyplňte <a target="_blank"
                           href="https://docs.google.com/forms/d/e/1FAIpQLSfc79912fFZGKw3mKhcSAObzuDJLgAYmCeuKJkcnkQbVZ-5rg/viewform?usp=sf_link">
                    predbežnú prihlášku</a>.</p>
            <hr>
            <p class="mb-0">Pre plnohodnotné absolvovanie kurzu je potrebné mať k dispozícii robota MOVE: mini
                (Kitronik)</p>
        </div>

    </div>
    <!-- /END THE FEATURETTES -->
{% endblock %}