{% extends "body.html" %}
{% block content %}
	<div class="container text-center">
		<div class="jumbotron">
			<h1>Školenia a webináre pre učiteľov</h1>
		</div>
	</div>
	<div class="container">
		<div class="alert alert-primary" role="alert"
			style="  color: white !important;padding: 1rem;background-color: #E20074 !important;border-radius: 0 !important;border: 0px !important;text-align: justify;">
			<p class="h4" style="  text-transform: uppercase; font-weight: 600;">Zistite viac o projekte ENTER micro:bit</p>
			<p>
				Pomocou projektu ENTER môžete získať micro:bity pre vašu školu, školenia pre učiteľov a zapojiť sa do rôznych súťaží.
				Webináre budú slúžiť na krátku prezentáciu o micro:bitoch, zodpovedanie otázok o ich využití v školách a aj o tom, ako ich zakomponovať do výučby.
			</p>
			<b>Obsah webináru</b>
			<ul style="list-style-type:square;">
				<li>Predstavenie projektov ENTER a Učíme s Hardvérom</li>
				<li>Predstavenie BBC micro:bit</li>
				<li>Ukážky aktivít/projektov s BBC micro:bit</li>
				<li>Prostredia pre BBC micro:bit</li>
				<li>Grantová výzva ENTER - ako sa zapojiť a ako zahrnúť micro:bity do výučby</li>
			</ul>
		</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Termín</th>
					<th scope="col">Téma</th>
					<th scope="col">Miesto</th>
					<th scope="col">Prihlásenie</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>7.10.2020 16.30-17.30</td>
					<td>Webinár: Zistite viac o projekte ENTER micro:bit</td>
					<td>Online cez Google Meet</td>
					<td>
						<a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScChPLWNJ1skD-rA0LaHNvmdafgsIznw5rfaMbaJVPHwZE5bg/viewform?usp=sf_link">
							Formulár 🔗
						</a>
					</td>
				</tr>
				<tr>
					<td>13.10.2020 16.30-17.30</td>
					<td>Webinár: Zistite viac o projekte ENTER micro:bit</td>
					<td>Online cez Google Meet</td>
					<td>
						<a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScChPLWNJ1skD-rA0LaHNvmdafgsIznw5rfaMbaJVPHwZE5bg/viewform?usp=sf_link">
						Formulár 🔗</a>
					</td>
				</tr>
				<tr>
					<td>22.10.2020 16.30-17.30</td>
					<td>Webinár: Zistite viac o projekte ENTER micro:bit</td>
					<td>Online cez Google Meet</td>
					<td>
						<a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScChPLWNJ1skD-rA0LaHNvmdafgsIznw5rfaMbaJVPHwZE5bg/viewform?usp=sf_link">
							Formulár 🔗
						</a>
					</td>
				</tr>
				<tr>
					<td>27.10.2020 16.30-17.30</td>
					<td>Webinár: Zistite viac o projekte ENTER micro:bit</td>
					<td>Online cez Google Meet</td>
					<td>
						<a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScChPLWNJ1skD-rA0LaHNvmdafgsIznw5rfaMbaJVPHwZE5bg/viewform?usp=sf_link">
							Formulár 🔗
						</a>
					</td>
				</tr>
			</tbody>
		</table>
		<hr class="mt-5 mb-5">
<!-- 		<p>Pravidelne organizujeme školenia pre učiteľov základných a stredných škôl, na ktorých si predstavíme zariadenie
			BBC micro:bit a jeho využiteľnosť na hodinách informatiky. Ak máte záujem o zorganizovanie semináru aj vo vašom
		meste, neváhajte nás kedykoľvek kontaktovať.</p>
		<p>Na seminári začneme jednoduchšími úlohami, ktoré využívajú len vbudované senzory zariadenia a následne prejdeme k
			pripájaniu externých súčiastok, vďaka ktorým je možné vytvárať väčšie projekty s presahmi do iných predmetov ako
			napríklad fyzika, biológia alebo výtvarná výchova. Príkladmi takýchto projektov môže byť automatizovaný
			kvetináč, vlastná meteostanica či domáci bezpečnostný alarm. Vyskúšame si prácu v online prostredí, v ktorom
			vieme programovať micro:bit bez nutnosti inštalácie softvéru na počítači a následne prejdeme do prostredia “Mu”.
		Programovať budeme pomocou Blokového programovacieho jazyka (vhodný pre základné školy) a MicroPythonu.</p> -->
	</div>
	<!-- /END THE FEATURETTES -->
{% endblock %}
