<meta property="og:url" content="https://www.ucimeshardverom.sk/materialy/"/>
<meta property="og:type" content="website"/>
<meta property="og:title" content="Metodické materiály a návody"/>
<meta property="og:description"
content="Materiály pre ZŠ a SŠ sú v súlade so štátnym vzdelávacím programom a boli navrhnuté tak, aby mohli byť využívané priamo na hodinách informatiky."/>
<meta property="og:image"
content="http://ucimeshardverom.sk{{ url_for('static', filename='img/materialy/microbit-makecode-01-04.jpg') }}"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha256-2Pjr1OlpZMY6qesJM68t2v39t+lMLvxwpa8QlRjJroA=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<style>
fieldset legend {
  font-weight: 600;
}
fieldset label {
  margin-right: 5px;
  outline-width: 20px;
  font-size: 0px;
}

td {
  padding-bottom: 4px !important;
  padding-top: 4px !important;
}


</style>
<div class="container">
  <form action="https://docs.google.com/forms/d/e/1FAIpQLScq9dcvk9NLPvw6EPk73RJAh08atF-PcX5aoPlicAhcWcUx1w/formResponse"
    target="_self"
    id="bootstrapForm"
    method="POST">
    <fieldset>
      <h2>Formulár<br><small></small></h2>
    </fieldset>
    <!-- Field type: "grid" id: "93241308" -->
    <fieldset>
      <legend for="93241308">Prosím, odpovedajte na nasledujúce otázky na uvedenej škále vo vzťahu k vyučovaniu informatiky. </legend>
      <div class="form-group">
        
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col" class="align-middle text-center" style="width: 3%"></th>
              <th scope="col" class="align-middle text-center" style="width: 40%"></th>
              <th scope="col" class="align-top text-center" style="width: 5%">1 <i>vôbec nič</i></th>
              <th scope="col" class="align-top text-center" style="width: 5%">2</th>
              <th scope="col" class="align-top text-center" style="width: 5%">3 <i>málo</i></th>
              <th scope="col" class="align-top text-center" style="width: 5%">4</th>
              <th scope="col" class="align-top text-center" style="width: 5%">5 <i>trochu</i></th>
              <th scope="col" class="align-top text-center" style="width: 5%">6</th>
              <th scope="col" class="align-top text-center" style="width: 5%">7 <i>dosť</i></th>
              <th scope="col" class="align-top text-center" style="width: 5%">8</th>
              <th scope="col" class="align-top text-center" style="width: 5%">9 <i>veľmi veľa</i></th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Čo ste schopný(á) urobiť, aby ste používali pestré možnosti preverovania vedomostí a zručností?</td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.430808218" value="určite nie" required></td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.430808218" value="nie" required></td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.430808218" value="áno" required></td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.430808218" value="určite no" required></td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.430808218" value="určite no" required></td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.430808218" value="určite no" required></td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.430808218" value="určite no" required></td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.430808218" value="určite no" required></td>
              <td class="align-middle text-center"><input type="radio" name="entry.430808218" value="určite no" required></td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Čo ste schopný(á) urobiť, aby ste eliminovali jednotlivcov, ktorí sú schopní rozbiť celú hodinu?</td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.241647530" value="určite nie" required></td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.241647530" value="nie" required></td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.241647530" value="áno" required></td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.241647530" value="určite no" required></td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.241647530" value="určite no" required></td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.241647530" value="určite no" required></td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.241647530" value="určite no" required></td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.241647530" value="určite no" required></td>
              <td class="align-middle text-center"><input type="radio" name="entry.241647530" value="určite no" required></td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Čo ste schopný(á) urobiť, aby ste eliminovali jednotlivcov, ktorí sú schopní rozbiť celú hodinu?</td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.241647530" value="určite nie" required></td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.241647530" value="nie" required></td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.241647530" value="áno" required></td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.241647530" value="určite no" required></td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.241647530" value="určite no" required></td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.241647530" value="určite no" required></td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.241647530" value="určite no" required></td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.241647530" value="určite no" required></td>
              <td class="align-middle text-center"><input type="radio" name="entry.241647530" value="určite no" required></td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Čo ste schopný(á) urobiť, aby ste eliminovali jednotlivcov, ktorí sú schopní rozbiť celú hodinu?</td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.241647530" value="určite nie" required></td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.241647530" value="nie" required></td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.241647530" value="áno" required></td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.241647530" value="určite no" required></td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.241647530" value="určite no" required></td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.241647530" value="určite no" required></td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.241647530" value="určite no" required></td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.241647530" value="určite no" required></td>
              <td class="align-middle text-center"><input type="radio" name="entry.241647530" value="určite no" required></td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>Čo ste schopný(á) urobiť, aby ste eliminovali jednotlivcov, ktorí sú schopní rozbiť celú hodinu?</td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.241647530" value="určite nie" required></td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.241647530" value="nie" required></td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.241647530" value="áno" required></td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.241647530" value="určite no" required></td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.241647530" value="určite no" required></td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.241647530" value="určite no" required></td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.241647530" value="určite no" required></td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.241647530" value="určite no" required></td>
              <td class="align-middle text-center"><input type="radio" name="entry.241647530" value="určite no" required></td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td>Čo ste schopný(á) urobiť, aby ste eliminovali jednotlivcov, ktorí sú schopní rozbiť celú hodinu?</td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.241647530" value="určite nie" required></td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.241647530" value="nie" required></td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.241647530" value="áno" required></td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.241647530" value="určite no" required></td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.241647530" value="určite no" required></td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.241647530" value="určite no" required></td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.241647530" value="určite no" required></td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.241647530" value="určite no" required></td>
              <td class="align-middle text-center"><input type="radio" name="entry.241647530" value="určite no" required></td>
            </tr>
            <tr>
              <th scope="row">7</th>
              <td>Čo ste schopný(á) urobiť, aby ste eliminovali jednotlivcov, ktorí sú schopní rozbiť celú hodinu?</td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.241647530" value="určite nie" required></td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.241647530" value="nie" required></td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.241647530" value="áno" required></td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.241647530" value="určite no" required></td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.241647530" value="určite no" required></td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.241647530" value="určite no" required></td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.241647530" value="určite no" required></td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.241647530" value="určite no" required></td>
              <td class="align-middle text-center"><input type="radio" name="entry.241647530" value="určite no" required></td>
            </tr>
            <tr>
              <th scope="row">8</th>
              <td>Čo ste schopný(á) urobiť, aby ste eliminovali jednotlivcov, ktorí sú schopní rozbiť celú hodinu?</td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.241647530" value="určite nie" required></td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.241647530" value="nie" required></td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.241647530" value="áno" required></td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.241647530" value="určite no" required></td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.241647530" value="určite no" required></td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.241647530" value="určite no" required></td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.241647530" value="určite no" required></td>
              <td class="align-middle text-center" style="border-right:  1px solid grey;"><input type="radio" name="entry.241647530" value="určite no" required></td>
              <td class="align-middle text-center"><input type="radio" name="entry.241647530" value="určite no" required></td>
            </tr>
          </tbody>
        </table>
      </div>
    </fieldset>
    <input type="hidden" name="fvv" value="1">
    <input type="hidden" name="fbzx" value="91101561532096210">
    <!--
    CAVEAT: In multipages (multisection) forms, *pageHistory* field tells to google what sections we've currently completed.
    This usually starts as "0" for the first page, then "0,1" in the second page... up to "0,1,2..N" in n-th page.
    Keep this in mind if you plan to change this code to recreate any sort of multipage-feature in your exported form.
    We're setting this to the total number of pages in this form because we're sending all fields from all the section together.
    -->
    <input type="hidden" name="pageHistory" value="0">
    <input class="btn btn-primary" type="submit" value="Submit">
  </form>
  <script type="text/javascript">
    $('#bootstrapForm').submit(function (event) {
  event.preventDefault()
  var extraData = {}
  $('#bootstrapForm').ajaxSubmit({
  data: extraData,
  dataType: 'jsonp',  // This won't really work. It's just to use a GET instead of a POST to allow cookies from different domain.
  error: function () {
  // Submit of form should be successful but JSONP callback will fail because Google Forms
  // does not support it, so this is handled as a failure.
  // alert('Form Submitted. Thanks.')
  // You can also redirect the user to a custom thank-you page:
  window.location = '//marekmansell.sk'
  }
  })
  })
  </script>
</div>

</div>