{% extends "body.html" %}

{% block content %}

<div class="container text-center">
  <div class="jumbotron">
    <h1>Ako sa zapojiť ako škola?') }}</h1>
  </div>
</div>

<div class="container">
 
  <div class="container text-justify">

    <h2 class="featurette-heading">Krok číslo 1: Vyplnenie formuláru') }}</h2>
    <p>Formulár, ktorý sa nachádza na konci tejto stránky, je nezáväzným prejavením záujmu o zaradenie do projektu Učíme s Hardvérom. Za školu vypĺňa formulár učiteľ informatiky, ktorý sa následne stáva aj kontaktnou osobou pre projekt.') }}</p>

    <h4 class="featurette-heading">Krok číslo 2: Získanie hardvéru') }}</h4>
    <p>
      Čo sa týka hardvéru tak ideálne by bolo, ak by škola vedela nájsť financie na nákup vlastného hardvéru. Takto to rieši väčšina škôl v projekte (či už peniaze z grantu, od sponzora či vlastné financie).
      <br>
      Ak to nie je možné tak je istá šanca, že sponzora vieme nájsť my, avšak nevieme to garantovať.
      <br>
      Naše metodiky využívajú najmä <a href="http://www.edutronik.sk/#ponuka">túto sadu hardvéru pre školy</a>.
    </p>

    <h4 class="featurette-heading">Krok číslo 3: Školenie') }}</h4>
    <p>Ako súčasť projektu pravidelne organizujeme bezplatné školenia pre učiteľov, a to v rôznych mestách na Slovensku.') }}</p>

    <h4 class="featurette-heading">Krok číslo 4: Výuka') }}</h4>
    <p>Gratulujem! Pri tomto kroku sa dostávate k tej najzaujímavejšej časti - využívaniu hardvéru na hodinách informatiky. Okrem občasných nejasností či problémov sa pripravte aj na spontánne výkriky radosti z radov žiakov :-) ') }}</p>

    <h4 class="featurette-heading">Certifikát') }}</h4>
    <p>Zapojené školy budú zverejnené na webovej stránke a sociálnych sieťach projektu. Podporujeme každého učiteľa, respektíve školu, aby na konci roka napísali článok o skúsenostiach a radostiach z ich školy, ako aj fotky žiackych projektov, a v prípade súhlasu autora ich zverejníme aj na našich stránkach. Aktívne zapojené školy získajú certifikáciu <b>Škola s Hardvérom</b>.') }}</p>

  </div>

  <div class="container text-center">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://docs.google.com/forms/d/e/1FAIpQLSepy-6vnITnXbqogLP6ro_xoJo3UUmX8a7Dh_ra-G9g3srrUw/viewform?embedded=true" width="800" height="520" frameborder="0" marginheight="0" marginwidth="0">Načítava sa formulár...') }}</iframe>
    </div>
    <br>
    <p>Alebo môzeš <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSepy-6vnITnXbqogLP6ro_xoJo3UUmX8a7Dh_ra-G9g3srrUw/viewform?embedded=true">otvoriť formulár v novom okne') }}</a>
  </div>

</div>
<!-- /END THE FEATURETTES -->
{% endblock %}
