{% extends "body.html" %}

{% block content %}

<div class="container text-center">
  <div class="jumbotron">
    <h1>{{ _('Ako sa zapojiť ako sponzor?') }}</h1>
  </div>
</div>

<div class="container">
  
  <div class="container text-justify">

    <h2 class="featurette-heading">{{ _('Chcete podporiť digitálnu gramotnosť vo svojom regióne?') }}</h2>
    <p>{{ _('Finančným príspevkom môže ako firma tak aj jednotlivec podporiť rozvoj digitálnych kompetencií vo svojom regióne.') }}</p>

    <h3 class="featurette-heading">{{ _('Podporenie chodu projektu Učíme s Hardvérom') }}</h3>
    <p>{{ _('Z rozpočtu projektu sú hradené výdavky spojené s organizáciou školení pre učiteľov, tvorbu metodiky a učebných materiálov a organizácie žiackej súťaže SPy Cup.') }}</p>

  </div>

  <div class="container text-center">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://docs.google.com/forms/d/e/1FAIpQLSdTtD2j030RlESDf2YyAu6W747bTUgf1ZYnI5xVqzTRACE9Kw/viewform?embedded=true" width="800" height="520" frameborder="0" marginheight="0" marginwidth="0">{{ _('Načítava sa formulár...') }}</iframe>
    </div>
  </div>

</div>
<!-- /END THE FEATURETTES -->
{% endblock %}
