{% extends "body.html" %}

{% block content %}

<div class="container text-center">
  <div class="jumbotron">
    <h1>{{ _('Zapojené školy') }}</h1>
  </div>
</div>

<div class="container">
  
  <div class="container text-center">
  
    <div class="embed-responsive embed-responsive-16by9">
    	<iframe class="embed-responsive-item" src="https://www.google.com/maps/d/u/0/embed?mid=1ZhIUnv3daGDB2zaPFGhkK3rk7WTicJc8" width="800" height="480"></iframe>
  	</div>
    <h2 class="featurette-heading"><a href="{{ url_for('zapoj_sa_skola') }}">{{ _('Ako sa zapojiť?') }}</a></h2>
  
  </div>

</div>

<!-- /END THE FEATURETTES -->
{% endblock %}
