{% extends "body.html" %}

{% block content %}

<div class="container text-center">
  <div class="jumbotron">
    <h1>Ako sa zapojiť ako dobrovoľník?') }}</h1>
  </div>
</div>

<div class="container">
  <div class="container text-justify">

    <h2 class="featurette-heading">S čím nám vieš pomôcť?') }}</h2>
    <p>V rámci organizácie projektu Učíme s Hardvérom a konferencie PyCon (so sekciou EduTrack) je práce ozaj neúrekom. Mnohé úlohy sa vôbec netýkajú hardvéru či softvéru - napr. organizácia školení, komunikácia so školami, atď. Preto sa neobávaj, že nemáš dostatočné zručnosti, každý vie prispieť :-)') }}</p>

    <h2 class="featurette-heading">Ambasádor projektu Učíme s Hardvérom') }}</h2>
    <p>Cieľom projektu je dostať na školy zaujímavejšie spôsoby výučby - doslova "hračky", a na to je potrebné do procesu zapojiť učiteľov a vedenie základných a stredných škôl. Pravidlo "raz vidieť je lepšie, ako sto krát počuť" platí u hardvéru dvojnásobne, a tak hľadáme ambasádorov projektu, ktorí by hardvér predstavili na školách, na ktoré nemáme sami kapacitu zavítať. Ambasádorom sa môže stať napr. študent informatiky či programátor, ktorý si nájde chvíľu čas zájsť na (nie len) svoju záklanú alebo strednú školu. Dobrovoľníci z regiónov sú obzvlášť vítaní. Viac info o zaškolení dostaneš po vyplnení formuláru.') }}</p>

    <h4 class="featurette-heading">Krok číslo 1: Vyplnenie formuláru') }}</h4>
    <p>Vyplnením krátkeho formuláru sa o Tebe dozvieme a budeme lepšie vedieť, s akými úlohami by si nám vedel pomôcť.') }}</p>

    <h4 class="featurette-heading">Krok číslo 2: Kontaktovanie') }}</h4>
    <p>Po vyplnení formuláru Ťa kontaktujeme. Ak máš špecifickú otázku či návrh na spoluprácu, neváhaj nám poslať mail či zavolať (kontaktné údaje nájdeš na konci stránky).') }}</p>


  </div>

  <div class="container text-center">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://docs.google.com/forms/d/e/1FAIpQLSda72KetI-z_8kYry_dnLC-xDIBSI4p1XFC7oV_gRs55NBWLw/viewform?embedded=true" width="800" height="520" frameborder="0" marginheight="0" marginwidth="0">Načítava sa formulár...') }}</iframe>
    </div>
    <br>
    <p>Alebo môzeš <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSda72KetI-z_8kYry_dnLC-xDIBSI4p1XFC7oV_gRs55NBWLw/viewform?embedded=true">otvoriť formulár v novom okne') }}</a>
  </div>

</div>
<!-- /END THE FEATURETTES -->
{% endblock %}
