{% extends "body.html" %}

{% block content %}

<div class="container text-center">
  <div class="jumbotron">
    <h1>{{ _('Ako sa zapojiť ako škola?') }}</h1>
  </div>
</div>

<div class="container">
 
  <div class="container text-justify">

    <h2 class="featurette-heading">{{ _('Krok číslo 1: Vyplnenie formuláru') }}</h2>
    <p>{{ _('Formulár, ktorý sa nachádza na konci tejto stránky, je nezáväzným prejavením záujmu o zaradenie do projektu Učíme s Hardvérom. Za školu vypĺňa formulár učiteľ informatiky, ktorý sa následne stáva aj kontaktnou osobou pre projekt.') }}</p>

    <h4 class="featurette-heading">{{ _('Krok číslo 2: Kontaktovanie') }}</h4>
    <p>{{ _('Po prejavení záujmu Vás kontaktujeme a preberieme možnosti získania (nákupu alebo zapožičania) hardvéru, ako aj zahrnutie hardvéru do tematických plánov Vašej školy.') }}</p>

    <h4 class="featurette-heading">{{ _('Krok číslo 3: Školenie') }}</h4>
    <p>{{ _('Ako súčasť projektu pravidelne organizujeme bezplatné školenia pre učiteľov, a to v rôznych mestách na Slovensku.') }}</p>

    <h4 class="featurette-heading">{{ _('Krok číslo 4: Výuka') }}</h4>
    <p>{{ _('Gratulujem! Pri tomto kroku sa dostávate k tej najzaujímavejšej časti - využívaniu hardvéru na hodinách informatiky. Okrem občasných nejasností či problémov sa pripravte aj na spontánne výkriky radosti z radov žiakov :-) ') }}</p>

  </div>


  <div class="container text-center">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://docs.google.com/forms/d/e/1FAIpQLSepy-6vnITnXbqogLP6ro_xoJo3UUmX8a7Dh_ra-G9g3srrUw/viewform?embedded=true" width="800" height="520" frameborder="0" marginheight="0" marginwidth="0">{{ _('Načítava sa formulár...') }}</iframe>
    </div>
  </div>

</div>
<!-- /END THE FEATURETTES -->
{% endblock %}
